<!-- Path: ./apps/PythonAnywhere/website/templates/healthie/iframe_provider_tab/care_plan.html -->

<h2>Care Plan</h2>
<div class="ml-4">
    <p>Care plans for this patient can be generated here and updated over time.</p>
    <p>Known risk factors can be listed.</p>
    <p>Progress can be reported.</p>
</div>

<h2 class="collapsible">
    <span class="icon-container">
        <i class="fas fa-chevron-right"></i>
    </span>
    Summary status
</h2>

<div class="collapsible-content">

    <p class="mt-4"">Table format:&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="summary-table-toggle-link" id="summary-table-weekly-link">Weekly</span>
        &nbsp;|&nbsp;
        <span class="summary-table-toggle-link" id="summary-table-monthly-link">Monthly</span>
    </p>

    <style>
        .summary-table {
            width: 100%;
            border-collapse: collapse;
        }
        .summary-table td, .summary-table th {
            width: 40px;
            height: 40px;
            text-align: center;
            vertical-align: middle;
            position: relative;
            border: 1px solid #ccc;
            white-space: nowrap;
        }
        .summary-table td:hover::after {
            content: attr(data-tooltip);
            position: absolute;
            background-color: #333;
            color: #fff;
            padding: 5px;
            border-radius: 5px;
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
            z-index: 1;
        }
        .summary-table .specific-bottom-border td,
        .summary-table .specific-bottom-border th {
            border-bottom: 1px solid black !important;
        }
        .summary-table-hidden {
            display: none;
        }
        .summary-table-toggle-link {
            cursor: pointer;
            color: blue;
            font-size: 0.8em;
        }
        .summary-table-toggle-link.active {
            text-decoration: underline;
            font-weight: bold;
        }
    </style>

    <div class="table-container-data-color summary-table-hidden" id="summary-weekly">
        <table class="summary-table">
            <thead>
                <tr class="specific-bottom-border">
                    <th>Periods</th>
                    <th>SBP min</th>
                    <th>SBP mean</th>
                    <th>SBP max</th>
                    <th>DBP min</th>
                    <th>DBP mean</th>
                    <th>DBP max</th>
                    <th>% above 130/90</th>
                </tr>
            </thead>
            <tbody>
                {% if summary_data_weekly %}
                    {% for period in summary_data_weekly %}
                        <tr class="{% if period.range_name == 'Whole Periods' %}specific-bottom-border{% endif %}">
                            <td data-tooltip="{{ period.range_name_info }}">{{ period.range_name }}</td>
                            <td>{{ period.systolic_min|int }} </td>
                            <td style="background-color: {{ period.systolic_mean_color }};">{{ period.systolic_mean|round(1) }}</td>
                            <td>{{ period.systolic_max|int }} </td>
                            <td>{{ period.diastolic_min|int }} </td>
                            <td style="background-color: {{ period.diastolic_mean_color }};">{{ period.diastolic_mean|round(1) }}</td>
                            <td>{{ period.diastolic_max|int }} </td>
                            <td style="background-color: {{ period.percent_above_130_90_color }};">{{ period.percent_above_130_90|int }} %</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="8" style="text-align: center;">No data available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <div class="table-container-data-color summary-table-hidden" id="summary-monthly">
        <table class="summary-table">
            <thead>
                <tr class="specific-bottom-border">
                    <th>Periods</th>
                    <th>SBP min</th>
                    <th>SBP mean</th>
                    <th>SBP max</th>
                    <th>DBP min</th>
                    <th>DBP mean</th>
                    <th>DBP max</th>
                    <th>% above 130/90</th>
                </tr>
            </thead>
            <tbody>
                {% if summary_data_monthly %}
                    {% for period in summary_data_monthly %}
                        <tr class="{% if period.range_name == 'Whole Periods' %}specific-bottom-border{% endif %}">
                            <td data-tooltip="{{ period.range_name_info }}">{{ period.range_name }}</td>
                            <td>{{ period.systolic_min|int }} </td>
                            <td style="background-color: {{ period.systolic_mean_color }};">{{ period.systolic_mean|round(1) }}</td>
                            <td>{{ period.systolic_max|int }} </td>
                            <td>{{ period.diastolic_min|int }} </td>
                            <td style="background-color: {{ period.diastolic_mean_color }};">{{ period.diastolic_mean|round(1) }}</td>
                            <td>{{ period.diastolic_max|int }} </td>
                            <td style="background-color: {{ period.percent_above_130_90_color }};">{{ period.percent_above_130_90|int }} %</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="8" style="text-align: center;">No data available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

</div> <!-- end of collapsible-content -->

<h2 class="collapsible">
    <span class="icon-container">
        <i class="fas fa-chevron-right"></i>
    </span>
    Medication adherence
</h2>

<div class="collapsible-content">

    <p class="mt-4" style="text-decoration: underline;">Tenovi Pillbox Expectations Charting Notes data</p>

    <div class="table-container-data">
        <table id="data-pillbox-expectations-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Version</th>
                    <th>Date</th>
                    <th>Openings AM</th>
                    <th>Openings PM</th>
                    <th>Openings Daily</th>
                    <th>Weekend Leniency</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                {% if tenovi_pillbox_expectations_dataset == [] %}
                    <tr>
                        <td colspan="7" style="text-align: center;">No data available</td>
                    </tr>
                {% else %}
                    {% for datapoint in tenovi_pillbox_expectations_dataset %}
                        <tr>
                            <td>{{ datapoint.version | default('not-applicable') }}</td>
                            <td>{{ datapoint.created_at | default('not-applicable') }}</td>
                            <td>{{ datapoint.openings_am | default('not-applicable') }}</td>
                            <td>{{ datapoint.openings_pm | default('not-applicable') }}</td>
                            <td>{{ datapoint.openings_daily_total | default('not-applicable') }}</td>
                            <td>{{ datapoint.weekend_leniency | default('not-applicable') }}</td>
                            <td>{{ datapoint.comment | default('not-applicable') | safe }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

    <p class="mt-4" style="text-decoration: underline;">Medical Adherence Data</p>
    <style>
        .medical-adherence-table {
            width: 100%;
            border-collapse: collapse;
        }
        .medical-adherence-table td {
            width: 40px;
            height: 40px;
            text-align: center;
            vertical-align: middle;
            position: relative;
            border: 1px solid #ccc;
            white-space: nowrap;
        }
        .medical-adherence-table td:hover::after {
            content: attr(data-tooltip);
            position: absolute;
            background-color: #333;
            color: #fff;
            padding: 5px;
            border-radius: 5px;
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
            z-index: 1;
        }
    </style>

    <div class="table-container-data">
        <table class="medical-adherence-table">
            <tr>
                <td>Period</td>
                <td>Day</td>
                <td>Sun</td>
                <td>Mon</td>
                <td>Tue</td>
                <td>Wed</td>
                <td>Thu</td>
                <td>Fri</td>
                <td>Sat</td>
                <td>Total</td>
                <td>Comment</td>
            </tr>
            {% if medication_adherence_data %}
                {% for week in medication_adherence_data %}
                    <tr>
                        <td rowspan="2">{{ week.name }}</td>
                        <td>AM</td>
                        {% for day in ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'total'] %}
                            <td style="background-color: {{ week.status_per_day[day]['AM_color'] }};"
                                data-tooltip="{{ week.status_per_day[day]['AM_data'] }} - {{ week.status_per_day[day]['AM_comment'] }}">
                            </td>
                        {% endfor %}
                        <td>{{ week.status_per_day['total']['AM_comment'] }}</td>
                    </tr>
                    <tr>
                        <td>PM</td>
                        {% for day in ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'total'] %}
                            <td style="background-color: {{ week.status_per_day[day]['PM_color'] }};"
                                data-tooltip="{{ week.status_per_day[day]['PM_data'] }} - {{ week.status_per_day[day]['PM_comment'] }}">
                            </td>
                        {% endfor %}
                        <td>{{ week.status_per_day['total']['PM_comment'] }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="11" style="text-align: center;">No data available</td>
                </tr>
            {% endif %}
        </table>
    </div>

</div> <!-- end of collapsible-content -->

<h2 class="collapsible">
    <span class="icon-container">
        <i class="fas fa-chevron-right"></i>
    </span>
    Blood pressure
</h2>

<div class="collapsible-content">

    <!--
    <div id="blood-pressure-plot-container-html">
        <p>Loading blood pressure plot as html...</p>
    </div>
    -->

    <div id="blood-pressure-plot-container-json">
        <p>Loading blood pressure plot as json...</p>
    </div>

</div>


<h2 class="collapsible">
    <span class="icon-container">
        <i class="fas fa-chevron-right"></i>
    </span>
    Heart Rate
</h2>

<div class="collapsible-content">

    {% if pulse_moments %}
        <p>Pulse statistics (from BPM device, patient at rest):</p>
        <table class="compact-table-two-columns">
            <tr>
                <td class="compact-table-two-columns-col1">Count</td>
                <td class="compact-table-two-columns-col2">{{ pulse_moments.count | int }}</td>
            </tr>
            </tr>
            <tr>
                <td class="compact-table-two-columns-col1">Average</td>
                <td class="compact-table-two-columns-col2">{{ pulse_moments.mean | int }} bpm</td>
            </tr>
            <tr>
                <td class="compact-table-two-columns-col1">Std</td>
                <td class="compact-table-two-columns-col2">{{ pulse_moments.std | round(1) }} bpm</td>
            </tr>
        </table>
    {% else %}
        <p>No pulse statistics available</p>
    {% endif %}

    <!--
    <div id="pulse-plot-container-html">
        <p>Loading pulse plot as html...</p>
    </div>
    -->

    <div id="pulse-plot-container-json">
        <p>Loading pulse plot as json...</p>
    </div>

    <br>
    {% if rmssd %}
        <p>HRV approximation from hourly averages:</p>
        <table class="compact-table-two-columns">
            <tr>
                <td class="compact-table-two-columns-col1">Root Mean Square of Successive Differences (RMSSD)</td>
                <td class="compact-table-two-columns-col2">{{ rmssd | round(1) }} bpm</td>
            </tr>
        </table>
    {% else %}
        <p>No HRV approximation available</p>
    {% endif %}

    <!--
    <div id="heart-rate-statistics-plot-container-html">
        <p>Loading heart rate statistics plot as html...</p>
    </div>
    -->

    <div id="heart-rate-statistics-plot-container-json">
        <p>Loading heart rate statistics plot as json...</p>
    </div>

</div>

<h2 class="collapsible">
    <span class="icon-container">
        <i class="fas fa-chevron-right"></i>
    </span>
    Activity
</h2>

<div class="collapsible-content">

</div>



<!-- a spacer at the bottom. Nicer when the user scrolls up -->
<div class="bg-white mb-5">
    <p>&nbsp;</p>
</div>



<script>
    $(document).ready(function() {

        // -----------------------------------------
        // -- SUMMARY TABLE LOGIC --

        const summaryWeekly = document.getElementById('summary-weekly');
        const summaryMonthly = document.getElementById('summary-monthly');
        const weeklyLink = document.getElementById('summary-table-weekly-link');
        const monthlyLink = document.getElementById('summary-table-monthly-link');

        // initialize
        var summaryPageToDisplay = "{{ summary_page_to_display }}";

        if (summaryPageToDisplay === "weekly") {
            summaryWeekly.classList.remove('summary-table-hidden');
            weeklyLink.classList.add('active');
        } else if (summaryPageToDisplay === "monthly") {
            summaryMonthly.classList.remove('summary-table-hidden');
            monthlyLink.classList.add('active');
        }

        // toggle
        document.getElementById('summary-table-weekly-link').addEventListener('click', function() {
            summaryWeekly.classList.remove('summary-table-hidden');
            summaryMonthly.classList.add('summary-table-hidden');
            weeklyLink.classList.add('active');
            monthlyLink.classList.remove('active');
        });

        document.getElementById('summary-table-monthly-link').addEventListener('click', function() {
            summaryMonthly.classList.remove('summary-table-hidden');
            summaryWeekly.classList.add('summary-table-hidden');
            monthlyLink.classList.add('active');
            weeklyLink.classList.remove('active');
        });


        // -----------------------------------------
        // --- PILLBOX LOGIC ---

        // Initialize DataTable if not empty
        var pillboxDataset = '{{ tenovi_pillbox_expectations_dataset | tojson }}';

        // Parse the JSON string into an actual JavaScript array or object
        var pillboxDatasetJson = JSON.parse(pillboxDataset);

        // Check if data is not null and not an empty array
        if (!(pillboxDatasetJson === null || (Array.isArray(pillboxDatasetJson) && pillboxDatasetJson.length === 0))) {
            $('#data-pillbox-expectations-table').DataTable({
                "paging": false,
                "searching": false,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "order": [[1, 'asc']]  // Order by the second column (created_at)
            });
        }

        // -----------------------------------------
        // -- JSON PLOTS --
        // N.B. JSON PLOTS are prefered over HTML PLOTS
        // because they take less time to execute in lambda functions
        // (~ 150ms for json plots against ~ 500ms for html plots)

        // Load blood pressure plot when the document is ready
        var target = '#blood-pressure-plot-container-json';
        var url = '{{ url_for("iframe_healthie_provider_tab_care_plan_bp.get_blood_pressure_plot") }}';
        loadPlotContent(url, target, json_or_html='json');

        // Load pulse plot when the document is ready
        var target = '#pulse-plot-container-json';
        var url = '{{ url_for("iframe_healthie_provider_tab_care_plan_bp.get_pulse_plot") }}';
        loadPlotContent(url, target, json_or_html='json');

        // Load heart rate statistics plot when the document is ready
        var target = '#heart-rate-statistics-plot-container-json';
        var url = '{{ url_for("iframe_healthie_provider_tab_care_plan_bp.get_heart_rate_statistics_plot") }}';
        loadPlotContent(url, target, json_or_html='json');

    });
</script>

