<!-- Path: ./apps/PythonAnywhere/website/templates/healthie/iframe_provider_tab/devices.html -->

<h2>Paired Devices</h2>

<div class="table-container-data">
    <table>
        <thead>
            <tr>
                <th>Device Name</th>
                <th>Device ID</th>
                <th>Paired At</th>
            </tr>
        </thead>
        <tbody>
            {% if paired_devices %}
                {% for device in paired_devices %}
                    <tr>
                        <td>{{ device.device.name }}</td>
                        <td>{{ device.id }}</td>
                        <td>{{ device.device.created }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">No devices paired</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>


<h2>Order new device(s)</h2>

<p>will include a form with PII, gateway ID (prefill if any), select boxes for devices (incl L and S BMP), and 'place order' button</p>


<!-- ========================= SCRIPTS ============================ -->

