<!-- STYLES -->
<style>

</style>

<!-- MAIN CONTENT -->
<div id="" class="">

    <section id="" class="">
        <div id="" class="">
            <h2 id="" class="">
                Risk Score
            </h2>
            <h3 id="" class="">

            </h3>
        </div>
        <div id="" class="">
            <button id="" class="">
                Follow-Up Visit
            </button>
        </div>
    </section>

    <section id="" class="">

    </section>

</div>

<!-- SCRIPT -->
<script>

</script>
