<!-- Path: ./apps/PythonAnywhere/website/templates/healthie/iframe_provider_tab/onboarding.html -->


<h2 class="collapsible">
    <span class="icon-container">
        <i class="fas fa-chevron-right"></i>
    </span>
    Charting Note Prefilling
</h2>
<div class="collapsible-content">

    <p>All documents from the selected private folder will be used to pre-fill the selected charting note.</p>

    <p>The AI agent will work on each question of the charting note where a 'LLM prompt' was added in the XLSX source file.</p>

    <style>
        /* Initially loading indicator and logs */
        #prefillChartingNoteLoading {
            display: none;
        }
        #prefillChartingNoteSuccess {
            display: none;
        }

    </style>

    <div class="table-container-button">
        <table class="compact-table">
            <tr>
                <td>
                    <form id="prefillChartingNoteForm" action="{{ url_for('iframe_healthie_provider_tab_onboarding_bp.healthie_prefill_charting_note_form') }}" method="POST">
                        <table>
                            <tr>
                                <td align="left" style="vertical-align: middle; width: 20%; white-space: nowrap;">
                                    <input type="hidden" name="temporary_lookup_code" value="{{ temporary_lookup_code }}">
                                    <button type="button" id="prefillChartingNoteFormButton" class="styled-button">Run prefill</button>
                                </td>
                                <td align="left" style="vertical-align: middle;">
                                    <span id="prefillChartingNoteLoading" class="response-message"><b>Running - Please wait ...</b></span>
                                    <span id="prefillChartingNoteSuccess" class="response-message"></span>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" style="vertical-align: middle; width: 20%; white-space: nowrap;">
                                    <label for="chartingNoteID" class="styled-label">Charting Note:</label>
                                </td>
                                <td align="left" style="vertical-align: middle;">
                                    <select name="healthie_customModuleForms_id" id="chartingNoteID" class="styled-select">
                                        {% if charting_notes %}
                                            {% for charting_note in charting_notes %}
                                                <option value="{{ charting_note.healthie_customModuleForms_id }}">{{ charting_note.name }} [{{ charting_note.created_at }}]</option>
                                            {% endfor %}
                                        {% else %}
                                            <option value="">No charting note available</option>
                                        {% endif %}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" style="vertical-align: middle; width: 20%; white-space: nowrap;">
                                    <label for="privateFolderID" class="styled-label">Private folder:</label>
                                </td>
                                <td align="left" style="vertical-align: middle;">
                                    <select name="private_folder_id" id="privateFolderID" class="styled-select">
                                        {% if private_folders_and_documents %}
                                            {% for folder_info in private_folders_and_documents %}
                                                <option value="{{ folder_info.folder.id }}">{{ folder_info.folder.name }}</option>
                                            {% endfor %}
                                        {% else %}
                                            <option value="">No private folder available</option>
                                        {% endif %}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" style="vertical-align: top; width: 20%; white-space: nowrap;">
                                    <p class="logs">Files:</p>
                                </td>
                                <td align="left" style="vertical-align: top;">
                                    <div id="filesContainer" class="compact-file-list"></div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td align="right" style="vertical-align: top; width: 20%; white-space: nowrap;">
                                <p class="logs">Logs</p>
                            </td>
                            <td align="left">
                                <textarea id="prefillChartingNoteTextarea" class="monospace-small" rows="3" cols="100" readonly wrap="off"></textarea>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div> <!-- End of Charting Note Prefilling -->

</div> <!-- End of Charting Note Prefilling collapsible section -->


<h2 class="collapsible">
    <span class="icon-container">
        <i class="fas fa-chevron-right"></i>
    </span>
    Questionnaires and data management
</h2>
<div class="collapsible-content">

    <h3>Patient status</h3>
    <!--
        - Onboarding Intake Forms and Charting Notes list, number of gaps and completion status
        (hard coded list of what's expected)
        - Onboarding completed or not
    -->

    <div class="table-container-data">
        <table>
            <thead>
                <tr>
                    <th>Form Name</th>
                    <th>User ID</th>
                    <th>Filler ID</th>
                    <th>Finished</th>
                    <th>Missing Answers</th>
                    <th>Locked at</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in patient_status %}
                <tr>
                    <td>{{ entry.form }}</td>
                    {% if entry.status %}
                        <td>{{ entry.status.user_id }}</td>
                        <td>{{ entry.status.filler_id }}</td>
                        <td>{{ "Yes" if entry.status.finished else "No" }}</td>
                        <td>{{ entry.status.missing_answer_count }}</td>
                        <td>{{ entry.status.locked_at }}</td>
                    {% elif entry.is_intake_form %}
                        {% if entry.completion_request_status %}
                            <td colspan="5">InTake Form Completion Requested on {{ entry.completion_request_date }}</td>
                        {% else %}
                            <td colspan="5">InTake Form Completion Not Requested</td>
                        {% endif %}
                    {% else %}
                        <td colspan="5">No status available</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h3>Patient data inconsistencies</h3>
    <div class="table-container-data">
        <table>
            <thead>
                <tr>
                    <th>External ID</th>
                    <th>Answer 1</th>
                    <th>Answer 2</th>
                </tr>
            </thead>
            <tbody>
                {% for discrepancy in inconsistencies %}
                <tr {% if discrepancy.blocker %}style="background-color: lightcoral;"{% endif %}>
                    <td>{{ discrepancy.external_id }}</td>
                    <td>{{ discrepancy.answer1 }}</td>
                    <td>{{ discrepancy.answer2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h3>Actions for this patient</h3>

    <style>
        /* Initially loading indicator and logs */
        #onboardingGeneratePersonalizedFormLoading {
            display: none;
        }
        #onboardingGeneratePersonalizedFormSuccess {
            display: none;
        }
    </style>

    <div class="table-container-button">
        <table class="compact-table">
            <tr>
                <td>
                    <form id="onboardingGeneratePersonalizedForm" action="{{ url_for('iframe_healthie_provider_tab_onboarding_bp.healthie_onboarding_generate_personalized_form') }}" method="POST">
                        <table>
                            <tr>
                                <td align="left" style="vertical-align: middle; width: 20%; white-space: nowrap;">
                                    <input type="hidden" name="temporary_lookup_code" value="{{ temporary_lookup_code }}">
                                    <button type="button" id="onboardingGeneratePersonalizedFormButton" class="styled-button">Generate Personalized Intake Form</button>
                                </td>
                                <td align="left" style="vertical-align: middle;">
                                    <span id="onboardingGeneratePersonalizedFormLoading" class="response-message"><b>Running - Please wait ...</b></span>
                                    <span id="onboardingGeneratePersonalizedFormSuccess" class="response-message"></span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <label for="onboardingGeneratePersonalizedFormSendRequestCheckbox" class="styled-label">Also Send Completion Request to Patient</label>
                                    <input type="checkbox" id="onboardingGeneratePersonalizedFormSendRequestCheckbox" name="send_request_to_patient">
                                </td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td align="right" style="vertical-align: top; width: 20%; white-space: nowrap;">
                                <p class="logs">Logs:</p>
                            </td>
                            <td align="left">
                                <textarea id="onboardingGeneratePersonalizedFormTextarea" class="monospace-small" rows="3" cols="100" readonly wrap="off"></textarea>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div> <!-- End of Actions for this patient -->

</div> <!-- End of Questionnaires and data management collapsible section -->


<!-- ========================= SCRIPTS ============================ -->

<script>

    $(document).ready(function() {

        // ========================= Charting Note Prefilling ============================

        const privateFoldersAndDocuments = {{ private_folders_and_documents | tojson }};
        const privateFolderSelect = document.getElementById('privateFolderID');
        const filesContainer = document.getElementById('filesContainer');

        // Function to list files in the selected folder
        function listFiles(folderId) {
            // Clear current files
            filesContainer.innerHTML = '';

            // Find the selected folder
            const selectedFolder = privateFoldersAndDocuments.find(folder => folder.folder.id.toString() === folderId.toString());

            if (selectedFolder && selectedFolder.documents.length > 0) {
                selectedFolder.documents.forEach(document => {
                    filesContainer.innerHTML += document.display_name + '<br>';
                });
            } else {
                filesContainer.textContent = 'No files available in this folder.';
            }
        }

        // Initial listing for the first folder
        if (privateFolderSelect.value) {
            listFiles(privateFolderSelect.value);
        }

        // Event listener for folder selection change
        privateFolderSelect.addEventListener('change', function () {
            listFiles(this.value);
        });

        // allows to prevent multiple requests from being sent at the same time
        let isPrefillChartingNoteRunning = false;

        $('#prefillChartingNoteFormButton').click(function() {

            // allows to prevent multiple requests from being sent at the same time
            if (isPrefillChartingNoteRunning) return;
            isPrefillChartingNoteRunning = true;

            // Hide or erase previous log and show loading indicator
            $('#prefillChartingNoteTextarea').val('');
            $('#prefillChartingNoteSuccess').hide();
            $('#prefillChartingNoteLoading').show();
            $('body').addClass('loading'); // Apply loading cursor

            $.ajax({
                url: $('#prefillChartingNoteForm').attr('action'),
                type: 'POST',
                data: $('#prefillChartingNoteForm').serialize(),
                success: function(response) {
                    // Update textarea with log message
                    $('#prefillChartingNoteTextarea').val(JSON.stringify(response, null, 4));

                    if (response.success) {
                        $('#prefillChartingNoteSuccess').html('Success');
                        $('#prefillChartingNoteSuccess').show();
                    } else {
                        $('#prefillChartingNoteSuccess').html('Error. See logs below.' );
                        $('#prefillChartingNoteSuccess').show();
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error); // Log AJAX error to console
                    $('#prefillChartingNoteTextarea').val('Error: ' + error); // Display error message in textarea
                },
                complete: function() {
                    // Hide loading indicator after AJAX completes (whether success or error)
                    $('#prefillChartingNoteLoading').hide();
                    $('body').removeClass('loading'); // Remove loading cursor

                    // allows to prevent multiple requests from being sent at the same time
                    isPrefillChartingNoteRunning = false;

                }
            });
        });

        // ========================= Generate Personalized Form ============================

        // allows to prevent multiple requests from being sent at the same time
        let isOnboardingRequestRunning = false;

        $('#onboardingGeneratePersonalizedFormButton').click(function() {

            // allows to prevent multiple requests from being sent at the same time
            if (isOnboardingRequestRunning) return;
            isOnboardingRequestRunning = true;

            // Hide or erase previous log and show loading indicator
            $('#onboardingGeneratePersonalizedFormTextarea').val('');
            $('#onboardingGeneratePersonalizedFormSuccess').hide();
            $('#onboardingGeneratePersonalizedFormLoading').show();
            $('body').addClass('loading'); // Apply loading cursor

            $.ajax({
                url: $('#onboardingGeneratePersonalizedForm').attr('action'),
                type: 'POST',
                data: $('#onboardingGeneratePersonalizedForm').serialize(),
                success: function(response) {
                    // Update textarea with log message
                    $('#onboardingGeneratePersonalizedFormTextarea').val(JSON.stringify(response, null, 4));

                    if (response.success) {
                        $('#onboardingGeneratePersonalizedFormSuccess').html('Success');
                        $('#onboardingGeneratePersonalizedFormSuccess').show();
                    } else {
                        $('#onboardingGeneratePersonalizedFormSuccess').html('Error. See logs below.' );
                        $('#onboardingGeneratePersonalizedFormSuccess').show();
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error); // Log AJAX error to console
                    $('#onboardingGeneratePersonalizedFormTextarea').val('Error: ' + error); // Display error message in textarea
                },
                complete: function() {
                    // Hide loading indicator after AJAX completes (whether success or error)
                    $('#onboardingGeneratePersonalizedFormLoading').hide();
                    $('body').removeClass('loading'); // Remove loading cursor

                    // allows to prevent multiple requests from being sent at the same time
                    isOnboardingRequestRunning = false;

                }
            });
        });
    });
</script>

