<!-- Path: ./apps/PythonAnywhere/website/templates/healthie/iframe_provider_tab/status.html -->

<!-- --------------------------------------------------------------------------  -->
<h2 class="collapsible">
    <span class="icon-container">
        <i class="fas fa-chevron-right"></i>
    </span>
    Patient initialization
</h2>
<div class="collapsible-content">
    <p>data on accounts pairing, db entries ...</p>
    <p>test</p>
</div>

<!-- --------------------------------------------------------------------------  -->
<h2 class="collapsible">
    <span class="icon-container">
        <i class="fas fa-chevron-right"></i>
    </span>
    Onboarding
</h2>
<div class="collapsible-content">
    <p>onboarding status ...</p>
</div>

