<!-- STYLING -->
<style>
.so-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.so-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.so-header-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.so-header-description {
    font-size: 0.875rem;
    color: #6b7280;
}

.so-content-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
</style>


<!-- CONTENT -->
<div id="so-container">
    <div class="so-header">
        <h2 class="so-header-title">
            Study Outcomes
        </h2>
        <p class="so-header-description">

        </p>
    </div>

    <div class="so-content-container">

    </div>
</div>


<!-- SCRIPT -->
<script>

</script>
