<!-- Path: ./apps/PythonAnywhere/website/templates/healthie/iframe_provider_tab/system_devices.html -->

<h2>Paired Devices</h2>

<div class="table-container-data">
    <table>
        <thead>
            <tr>
                <th>Device Name</th>
                <th>Gateway ID</th>
                <th>Patient Name</th>
                <th>Patient<br> External ID</th>
                <th>Patient<br> SMS opt-in</th>
                <th>Status</th>
                <th>n Data<br>Points</th>
                <th>Needs<br> Syncing</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if paired_devices %}
                {% for device in paired_devices %}
                    <tr>
                        <td>{{ device.device.name }}</td>
                        <td>{{ device.device.hardware_uuid_formatted }}</td>
                        <td>{{ device.patient.name }}</td>
                        <td>{{ device.patient.external_id }}</td>
                        <td>{{ device.patient.sms_opt_in }}</td>
                        <td>{{ device.status }}</td>
                        <td>{{ device.device.number_of_data_points_in_syntrillo_database }}</td>
                        <td>{{ device.device.needs_syncing }}</td>
                        <!-- single quotes in data-device matter here -->
                        <td><span class="device-info-toggle" data-device='{{ device|tojson|safe }}'>{{ 'info' }}</span></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="9">No devices paired</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

<!-- Hidden popup container for device info -->
<div class="device-info-popup" style="display: none;">
    <pre id="device-info-content" style="font-size: 0.7em;"></pre>
</div>


<!-- ------------------------------------------------------------------------------------- -->
<h2 class="collapsible">
    <span class="icon-container">
        <i class="fas fa-chevron-right"></i>
    </span>
    Pair New Devices
</h2>

<div class="collapsible-content">

    <p style="color: red;">!!! That's a testing and rescue procedure. Use only if a device is not paired properly.!!!</p>

    <p>The procedure has the following steps:</p>
    <ol>
        <li>Click on the 'Generate a Temporary Pairing Code' button below. The code is simple, composed of two capitalized words with no space.</li>
        <li>On the Tenovi portal, edit the 'patient info' value for the device, paste this Temporary Pairing Code as 'External ID', and save your changes. Repeat for all <i>new</i> devices to pair.</li>
        <li>Click the 'Pair Device' button below. The system will replace the Tenovi External ID with the Healthie User ID, and add the Syntrillo code in a hidden device value/pair property.</li>
        <li>When pairing is completed, refresh the Tenovi portal to see the changes.</li>
    </ol>

    <h3>Generate Temporary Pairing Code</h3>

    <style>
        /* Initially loading indicator and logs */
        #generateTenoviTemporaryPairingCodeLoading {
            display: none;
        }
        #TenoviTemporaryPairingCode {
            display: none;
        }
        #pairTenoviDevicesFormLoading {
            display: none;
        }
        #pairTenoviDevicesSuccess {
            display: none;
        }

        /* pointer on displayed code */
        #temporaryTenoviCode {
            cursor: pointer;
        }

        /* Custom transient popup styling */
        #transientPopupTenoviPairingCode {
            display: none;
            position: fixed;
            top: 40px;
            right: 40px;
            background: #333;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            z-index: 1000;
        }
    </style>

    <div class="table-container-button">
        <table class="compact-table">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td align="left" style="vertical-align: middle; width: 20%; white-space: nowrap;">
                                <form id="generateTenoviTemporaryPairingCodeForm" action="{{ url_for('iframe_healthie_provider_tab_system_devices_bp.tenovi_generate_temporary_pairing_code_form') }}" method="POST">
                                    <input type="hidden" name="temporary_lookup_code" value="{{ temporary_lookup_code }}">
                                    <button type="button" id="generateTenoviTemporaryPairingCodeFormButton" class="styled-button">Generate Temporary Pairing Code</button>
                                </form>
                            </td>
                            <td align="left" style="vertical-align: middle;">
                                <span id="generateTenoviTemporaryPairingCodeLoading" class="response-message"><b>Running - Please wait ...</b></span>
                                <span id="TenoviTemporaryPairingCode" class="response-message"></span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td align="right" style="vertical-align: top; width: 20%; white-space: nowrap;">
                                <p class="logs">Logs:</p>
                            </td>
                            <td align="left">
                                <textarea id="generateTenoviTemporaryPairingCodeFormTextarea" class="monospace-small" rows="3" cols="100" readonly wrap="off"></textarea>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <h3>Pair Tenovi devices</h3>

    <div class="table-container-button">
        <table class="compact-table">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td align="left" style="vertical-align: middle; width: 20%; white-space: nowrap;">
                                <form id="pairTenoviDevicesForm" action="{{ url_for('iframe_healthie_provider_tab_system_devices_bp.tenovi_pair_devices_form') }}" method="POST">
                                    <input type="hidden" name="temporary_lookup_code" value="{{ temporary_lookup_code }}">
                                    <button type="button" id="pairTenoviDevicesFormButton" class="styled-button">Pair Devices</button>
                                </form>
                            </td>
                            <td align="left" style="vertical-align: middle;">
                                <span id="pairTenoviDevicesFormLoading" class="response-message"><b>Running - Please wait ...</b></span>
                                <span id="pairTenoviDevicesSuccess" class="response-message"></span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td align="right" style="vertical-align: top; width: 20%; white-space: nowrap;">
                                <p class="logs">Logs:</p>
                            </td>
                            <td align="left">
                                <textarea id="pairTenoviDevicesFormTextarea" class="monospace-small" rows="3" cols="100" readonly wrap="off"></textarea>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="transientPopupTenoviPairingCode">Temporary Tenovi Pairing Code copied to clipboard.</div>

<!-- ------------------------------------------------------------------------------------- -->

<h2 class="collapsible">
    <span class="icon-container">
        <i class="fas fa-chevron-right"></i>
    </span>
    Measurements Management
</h2>

<div class="collapsible-content">

    <style>
        /* Initially loading indicator and logs */
        #syncMeasurementsLoading {
            display: none;
        }
        #syncMeasurementsSuccess {
            display: none;
        }

        #deleteSyntrilloMeasurementsRecordsLoading {
            display: none;
        }
        #deleteSyntrilloMeasurementsRecordsSuccess {
            display: none;
        }

        #deleteHealthieMeasurementsMetricsLoading {
            display: none;
        }
        #deleteHealthieMeasurementsMetricsSuccess {
            display: none;
        }

    </style>

    <div class="table-container-button">
        <table class="compact-table">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td align="left" style="vertical-align: middle; width: 20%; white-space: nowrap;">
                                <form id="syncMeasurementsForm" action="{{ url_for('iframe_healthie_provider_tab_system_devices_bp.sync_measurements_form') }}" method="POST">
                                    <input type="hidden" name="temporary_lookup_code" value="{{ temporary_lookup_code }}">
                                    <button type="button" id="syncMeasurementsFormButton" class="styled-button">Sync measurements</button>
                                </form>
                            </td>
                            <td align="left" style="vertical-align: middle;">
                                <span id="syncMeasurementsLoading" class="response-message"><b>Running - Please wait ...</b></span>
                                <span id="syncMeasurementsSuccess" class="response-message"></span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td align="left" style="vertical-align: middle; width: 20%; white-space: nowrap;">
                                <form id="deleteSyntrilloMeasurementsRecordsForm" action="{{ url_for('iframe_healthie_provider_tab_system_devices_bp.delete_syntrillo_measurements_records_form') }}" method="POST">
                                    <input type="hidden" name="temporary_lookup_code" value="{{ temporary_lookup_code }}">
                                    <button type="button" id="deleteSyntrilloMeasurementsRecordsFormButton" class="styled-button">Delete Syntrillo measurements database records</button>
                                </form>
                            </td>
                            <td align="left" style="vertical-align: middle;">
                                <span id="deleteSyntrilloMeasurementsRecordsLoading" class="response-message"><b>Running - Please wait ...</b></span>
                                <span id="deleteSyntrilloMeasurementsRecordsSuccess" class="response-message"></span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td align="left" style="vertical-align: middle; width: 20%; white-space: nowrap;">
                                <form id="deleteHealthieMeasurementsMetricsForm" action="{{ url_for('iframe_healthie_provider_tab_system_devices_bp.delete_healthie_measurements_metrics_form') }}" method="POST">
                                    <input type="hidden" name="temporary_lookup_code" value="{{ temporary_lookup_code }}">
                                    <button type="button" id="deleteHealthieMeasurementsMetricsFormButton" class="styled-button">Delete Healthie measurements metrics</button>
                                </form>
                            </td>
                            <td align="left" style="vertical-align: middle;">
                                <span id="deleteHealthieMeasurementsMetricsLoading" class="response-message"><b>Running - Please wait ...</b></span>
                                <span id="deleteHealthieMeasurementsMetricsSuccess" class="response-message"></span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td align="right" style="vertical-align: top; width: 20%; white-space: nowrap;">
                                <p class="logs">Logs:</p>
                            </td>
                            <td align="left">
                                <textarea id="measurementsCombinedTextarea" class="monospace-small" rows="3" cols="100" readonly wrap="off"></textarea>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

</div>

<!-- ========================= SCRIPTS ============================ -->

<script>
    $(document).ready(function() {

        // allows to prevent multiple requests from being sent at the same time
        let isDeviceRequestRunning = false;

        // ========================= Generate Temporary Pairing Code ============================

        // Initialize tooltip
        $(document).tooltip({
            items: "#temporaryTenoviCode",
            content: "Click to copy to clipboard"
        });

        $('#generateTenoviTemporaryPairingCodeFormButton').click(function() {

            // allows to prevent multiple requests from being sent at the same time
            if (isDeviceRequestRunning) return;
            isDeviceRequestRunning = true;

            // Hide or erase previous log and show loading indicator
            $('#generateTenoviTemporaryPairingCodeFormTextarea').val("");
            $('#TenoviTemporaryPairingCode').hide();
            $('#generateTenoviTemporaryPairingCodeLoading').show();
            $('body').addClass('loading'); // Apply loading cursor

            $.ajax({
                url: $('#generateTenoviTemporaryPairingCodeForm').attr('action'),
                type: 'POST',
                data: $('#generateTenoviTemporaryPairingCodeForm').serialize(),
                success: function(response) {
                    $('#generateTenoviTemporaryPairingCodeFormTextarea').val(JSON.stringify(response, null, 4)); // Update textarea with log message
                    if (response.success) {
                        // Update temporary pairing code in the page and show it
                        $('#TenoviTemporaryPairingCode').html("Temporary Tenovi Pairing Code: &nbsp;&nbsp;&nbsp;&nbsp; <b id='temporaryTenoviCode'>" + response.temporary_tenovi_pseudo_code + "</b>");
                        $('#TenoviTemporaryPairingCode').show();

                        // Add CSS for pointer cursor
                        $('#temporaryTenoviCode').css('cursor', 'pointer');

                        // Add tooltip
                        $('#temporaryTenoviCode').attr('title', 'Click to copy to clipboard');

                        // Copy to clipboard on click
                        $('#temporaryTenoviCode').click(function() {
                            var $temp = $('<input>');
                            $('body').append($temp);
                            $temp.val($(this).text()).select();
                            document.execCommand('copy');
                            $temp.remove();
                            // alert('Temporary Tenovi Pairing Code copied to clipboard.');
                            // Show transient popup
                            $('#transientPopupTenoviPairingCode').fadeIn(300).delay(1500).fadeOut(300);
                        });
                    } else {
                        $('#TenoviTemporaryPairingCode').html("Error. See logs below.");
                        $('#TenoviTemporaryPairingCode').show();
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error); // Log AJAX error to console
                    $('#generateTenoviTemporaryPairingCodeFormTextarea').val('Error: ' + error); // Display error message in textarea
                },
                complete: function() {
                    // Hide loading indicator after AJAX completes (whether success or error)
                    $('#generateTenoviTemporaryPairingCodeLoading').hide();
                    $('body').removeClass('loading'); // Remove loading cursor

                    // allows to prevent multiple requests from being sent at the same time
                    isDeviceRequestRunning = false;
                }
            });
        });



        // ========================= Pair Tenovi Devices =========================

        $('#pairTenoviDevicesFormButton').click(function() {

            // allows to prevent multiple requests from being sent at the same time
            if (isDeviceRequestRunning) return;
            isDeviceRequestRunning = true;

            // Hide and erase previous log and show loading indicator
            $('#pairTenoviDevicesFormTextarea').val("");
            $('#pairTenoviDevicesSuccess').hide();
            $('#pairTenoviDevicesFormLoading').show();
            $('body').addClass('loading'); // Apply loading cursor

            $.ajax({
                url: $('#pairTenoviDevicesForm').attr('action'),
                type: 'POST',
                data: $('#pairTenoviDevicesForm').serialize(),
                success: function(response) {
                    $('#pairTenoviDevicesFormTextarea').val(JSON.stringify(response, null, 4)); // Update textarea with log message
                    if (response.success) {
                            $('#pairTenoviDevicesSuccess').html("<b>Success! - The page will reload to show the updated status.</b>");
                            $('#pairTenoviDevicesSuccess').show();
                            // Reload the page after a delay to allow the user to read the success message
                            setTimeout(function() {
                                // allows to prevent multiple requests from being sent at the same time
                                // disabling until timer ends
                                isDeviceRequestRunning = false;

                                // location.reload();
                                // reloading only the device_s_ tab. loadTabContent is defined in the index.html
                                loadTabContent('{{ url_for("iframe_healthie_provider_tab_devices_bp.iframe_healthie_provider_tab_devices") }}', '#tab-devices');
                                loadTabContent('{{ url_for("iframe_healthie_provider_tab_system_devices_bp.iframe_healthie_provider_tab_system_devices") }}', '#tab-system-devices');
                            }, 5000); // Reload after a delay
                        } else {
                            $('#pairTenoviDevicesSuccess').html("Error. See logs below.");
                            $('#pairTenoviDevicesSuccess').show();
                            // enables the button to try again
                            isDeviceRequestRunning = false;
                        }
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error); // Log AJAX error to console
                    $('#pairTenoviDevicesFormTextarea').val('Error: ' + error); // Display error message in textarea

                    // allows to prevent multiple requests from being sent at the same time
                    isDeviceRequestRunning = false;
                },
                complete: function() {
                    // Hide loading indicator after AJAX completes (whether success or error)
                    $('#pairTenoviDevicesFormLoading').hide();
                    $('body').removeClass('loading'); // Remove loading cursor

                }
            });
        }); // end of pairTenoviDevicesFormButton click function

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // MEASUREMENTS MANAGEMENT

        // allows to prevent multiple requests from being sent at the same time
        let isAnyMeasurementsManagementRunning = false;

        // ========================= Sync Measurements =========================

        $('#syncMeasurementsFormButton').click(function() {

            // allows to prevent multiple requests from being sent at the same time
            if (isAnyMeasurementsManagementRunning) return;
            isAnyMeasurementsManagementRunning = true;

            // Hide and erase previous log and show loading indicator
            $('#measurementsCombinedTextarea').val("");
            $('#syncMeasurementsSuccess').hide();
            $('#syncMeasurementsLoading').show();
            $('body').addClass('loading'); // Apply loading cursor

            $.ajax({
                url: $('#syncMeasurementsForm').attr('action'),
                type: 'POST',
                data: $('#syncMeasurementsForm').serialize(),
                success: function(response) {
                    $('#measurementsCombinedTextarea').val(JSON.stringify(response, null, 4)); // Update textarea with log message
                    if (response.success) {
                        $('#syncMeasurementsSuccess').html("<b>Success! - The page will reload to show the updated status.</b>");
                        $('#syncMeasurementsSuccess').show();
                        // Reload the page after a delay to allow the user to read the success message
                        setTimeout(function() {
                            // allows to prevent multiple requests from being sent at the same time
                            // disabling until timer ends
                            isAnyMeasurementsManagementRunning = false;

                            // location.reload();
                            // reloading only the device_s_ tab. loadTabContent is defined in the index.html
                            loadTabContent('{{ url_for("iframe_healthie_provider_tab_devices_bp.iframe_healthie_provider_tab_devices") }}', '#tab-devices');
                            loadTabContent('{{ url_for("iframe_healthie_provider_tab_system_devices_bp.iframe_healthie_provider_tab_system_devices") }}', '#tab-system-devices');
                        }, 5000); // Reload after a delay
                    } else {
                        $('#syncMeasurementsSuccess').html("Error. See logs below.");
                        $('#syncMeasurementsSuccess').show();
                        // enables the button to try again
                        isAnyMeasurementsManagementRunning = false;
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error); // Log AJAX error to console
                    $('#measurementsCombinedTextarea').val('Error: ' + error); // Display error message in textarea

                    // allows to prevent multiple requests from being sent at the same time
                    isAnyMeasurementsManagementRunning = false;
                },
                complete: function() {
                    // Hide loading indicator after AJAX completes (whether success or error)
                    $('#syncMeasurementsLoading').hide();
                    $('body').removeClass('loading'); // Remove loading cursor

                }
            }); // end of AJAX call

        }); // end of syncMeasurementsFormButton click function

        // ========================= Delete Syntrillo Measurements Records =========================

        $('#deleteSyntrilloMeasurementsRecordsFormButton').click(function() {

            // allows to prevent multiple requests from being sent at the same time
            if (isAnyMeasurementsManagementRunning) return;
            isAnyMeasurementsManagementRunning = true;

            // Hide and erase previous log and show loading indicator
            $('#measurementsCombinedTextarea').val("");
            $('#deleteSyntrilloMeasurementsRecordsSuccess').hide();
            $('#deleteSyntrilloMeasurementsRecordsLoading').show();
            $('body').addClass('loading'); // Apply loading cursor

            $.ajax({
                url: $('#deleteSyntrilloMeasurementsRecordsForm').attr('action'),
                type: 'POST',
                data: $('#deleteSyntrilloMeasurementsRecordsForm').serialize(),
                success: function(response) {
                    $('#measurementsCombinedTextarea').val(JSON.stringify(response, null, 4)); // Update textarea with log message
                    if (response.success) {
                        $('#deleteSyntrilloMeasurementsRecordsSuccess').html("<b>Success! - The page will reload to show the updated status.</b>");
                        $('#deleteSyntrilloMeasurementsRecordsSuccess').show();
                        // Reload the page after a delay to allow the user to read the success message
                        setTimeout(function() {
                            // allows to prevent multiple requests from being sent at the same time
                            // disabling until timer ends
                            isAnyMeasurementsManagementRunning = false;

                            // location.reload();
                            // reloading only the device_s_ tab. loadTabContent is defined in the index.html
                            loadTabContent('{{ url_for("iframe_healthie_provider_tab_devices_bp.iframe_healthie_provider_tab_devices") }}', '#tab-devices');
                            loadTabContent('{{ url_for("iframe_healthie_provider_tab_system_devices_bp.iframe_healthie_provider_tab_system_devices") }}', '#tab-system-devices');
                        }, 5000); // Reload after a delay
                    } else {
                        $('#deleteSyntrilloMeasurementsRecordsSuccess').html("Error. See logs below.");
                        $('#deleteSyntrilloMeasurementsRecordsSuccess').show();
                        // enables the button to try again
                        isAnyMeasurementsManagementRunning = false;
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error); // Log AJAX error to console
                    $('#measurementsCombinedTextarea').val('Error: ' + error); // Display error message in textarea
                },
                complete: function() {
                    // Hide loading indicator after AJAX completes (whether success or error)
                    $('#deleteSyntrilloMeasurementsRecordsLoading').hide();
                    $('body').removeClass('loading'); // Remove loading cursor
                }
            }); // end of AJAX call

        }); // end of deleteSyntrilloMeasurementsRecordsFormButton click function

        // ========================= Delete Healthie Measurements Metrics =========================

        $('#deleteHealthieMeasurementsMetricsFormButton').click(function() {

            // allows to prevent multiple requests from being sent at the same time
            if (isAnyMeasurementsManagementRunning) return;
            isAnyMeasurementsManagementRunning = true;

            // Hide and erase previous log and show loading indicator
            $('#measurementsCombinedTextarea').val("");
            $('#deleteHealthieMeasurementsMetricsSuccess').hide();
            $('#deleteHealthieMeasurementsMetricsLoading').show();
            $('body').addClass('loading'); // Apply loading cursor

            $.ajax({
                url: $('#deleteHealthieMeasurementsMetricsForm').attr('action'),
                type: 'POST',
                data: $('#deleteHealthieMeasurementsMetricsForm').serialize(),
                success: function(response) {
                    $('#measurementsCombinedTextarea').val(JSON.stringify(response, null, 4)); // Update textarea with log message
                    if (response.success) {
                        $('#deleteHealthieMeasurementsMetricsSuccess').html("<b>Success! - The page will reload to show the updated status.</b>");
                        $('#deleteHealthieMeasurementsMetricsSuccess').show();
                        // Reload the page after a delay to allow the user to read the success message
                        setTimeout(function() {
                            // allows to prevent multiple requests from being sent at the same time
                            // disabling until timer ends
                            isAnyMeasurementsManagementRunning = false;

                            // location.reload();
                            // reloading only the device_s_ tab. loadTabContent is defined in the index.html
                            loadTabContent('{{ url_for("iframe_healthie_provider_tab_devices_bp.iframe_healthie_provider_tab_devices") }}', '#tab-devices');
                            loadTabContent('{{ url_for("iframe_healthie_provider_tab_system_devices_bp.iframe_healthie_provider_tab_system_devices") }}', '#tab-system-devices');
                        }, 5000); // Reload after a delay
                    } else {
                        $('#deleteHealthieMeasurementsMetricsSuccess').html("Error. See logs below.");
                        $('#deleteHealthieMeasurementsMetricsSuccess').show();
                        // enables the button to try again
                        isAnyMeasurementsManagementRunning = false;
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error); // Log AJAX error to console
                    $('#measurementsCombinedTextarea').val('Error: ' + error); // Display error message in textarea
                },
                complete: function() {
                    //  Hide loading indicator after AJAX completes (whether success or error)
                    $('#deleteHealthieMeasurementsMetricsLoading').hide();
                    $('body').removeClass('loading'); // Remove loading cursor
                }
            }); // end of AJAX call
        }); // end of deleteHealthieMeasurementsMetricsFormButton click function

    }); // end of document ready

</script>

<script>
    $(document).ready(function() {
        // Click function to toggle device info on 'info' click
        $('.device-info-toggle').click(function() {
            var deviceInfo = JSON.parse($(this).attr('data-device'));
            toggleDeviceInfo(deviceInfo);
        });

        function toggleDeviceInfo(deviceInfo) {
            var popup = $('.device-info-popup');
            var content = $('#device-info-content');

            // Toggle display of the popup container
            if (popup.is(':visible')) {
                popup.hide();
            } else {
                // Display the popup container
                popup.show();

                // Display the device JSON content in the popup
                content.text(JSON.stringify(deviceInfo, null, 2));
            }
        }
    });
</script>





