# ignore all logs
_**

# keep __init__.py files
!**/__init__.py

# ignore all backups
*~

# ignore binary files
*.gz
*.png
*.db
*.pkl
*.jpg

# files and folders meant to be ignored
ignore_*
ignored_*
ignored/

# ignore jupyter folders
.ipynb_checkpoints/
__pycache__/
.mypy_cache/

nohup.out

catboost_info/

**/.ipynb_checkpoints

# office lock files
*.~lock.*

# SQL
*.session.sql

# Environments
.env
.env*
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# AWS Specific
.aws-sam

# .env files
**.env
