# VSCODE : CLEAR CACHE AND RELOAD IF CHANGES MADE HERE

# -----------------------------------------------------------------------------
# VSCode python path
#   : Paths are relative to the workspace folder
PYTHONPATH=./sources/

# -----------------------------------------------------------------------------
HEALTHIE_STAGING_API_KEY='xxxxxxxxxxxxxxxxxxxx'

# -----------------------------------------------------------------------------
HEALTHIE_PRODUCTION_API_KEY='xxxxxxxxxxxxxxxxxxxx'

# -----------------------------------------------------------------------------
TENOVI_API_KEY='xxxxxxxxxxxxxxxxxxxxxxxx'

# -----------------------------------------------------------------------------
# allow connection to mySQL database at PythonAnywhere

PYTHON_ANYWHERE_DATABASE_CONFIG_USER='syntrillo'
PYTHON_ANYWHERE_DATABASE_CONFIG_PASSWORD='xxxxxxxxxxxxxxxxx'
PYTHON_ANYWHERE_DATABASE_CONFIG_HOST='syntrillo.mysql.pythonanywhere-services.com'

PYTHON_ANYWHERE_DATABASE_CONFIG_SSH_USERNAME='syntrillo'
PYTHON_ANYWHERE_DATABASE_CONFIG_SSH_PASSWORD='xxxxxxxxxxxxx'

# -----------------------------------------------------------------------------
# Set your OpenAI API key
OPENAI_API_KEY = 'xxxxxxxxxxxxxxxxxxxxxxx'


