# VSCODE : CLEAR CACHE AND RELOAD IF CHANGES MADE HERE

# -----------------------------------------------------------------------------
# VSCode python path
#   : Paths are relative to the workspace folder
PYTHONPATH=./sources/

# -----------------------------------------------------------------------------
# HEALTHIE API
#  - organization : 'staging' or 'production'

HEALTHIE_ORGANIZATION='xxx'
HEALTHIE_API_KEY='xxxxxxxxxxxxxxxxxxxx'

# -----------------------------------------------------------------------------
# TENOVI API
# - client domain: used in the URL to access the API : https://api2.tenovi.com/clients/{client_domain}
#    - syntrillo      : mix of RPM and HWI modules. HWI not fully implemented
#    - syntrillo-hwi  : HWI module only
# - the base URL is hard coded, with the version of the API
TENOVI_CLIENT_DOMAIN=''
TENOVI_API_KEY='xxxxxxxxxxxxxxxxxxxxxxxx'

# -----------------------------------------------------------------------------
# allow connection to mySQL database at PythonAnywhere

PYTHON_ANYWHERE_DATABASE_CONFIG_USER='syntrillo'
PYTHON_ANYWHERE_DATABASE_CONFIG_PASSWORD='xxxxxxxxxxxxxxxxx'
PYTHON_ANYWHERE_DATABASE_CONFIG_HOST='syntrillo.mysql.pythonanywhere-services.com'

PYTHON_ANYWHERE_DATABASE_CONFIG_SSH_USERNAME='syntrillo'
PYTHON_ANYWHERE_DATABASE_CONFIG_SSH_PASSWORD='xxxxxxxxxxxxx'

# -----------------------------------------------------------------------------
# Set your OpenAI API key
OPENAI_API_KEY = 'xxxxxxxxxxxxxxxxxxxxxxx'


