# VSCODE : CLEAR CACHE AND RELOAD IF CHANGES MADE HERE

# -----------------------------------------------------------------------------
# VSCode python path
#   : Paths are relative to the workspace folder
PYTHONPATH=./sources/

# -----------------------------------------------------------------------------
# Local tweaks

# between each tab in index.html (default hardcoded to 1000) - needed when debugging with local VSCode server
# MILLISECONDS_DELAY=3000

# -----------------------------------------------------------------------------
# Overide the Healthie user and provider ids for local debugging
# comment out to use the real values from Healthie calls

# staging - olivier+healthie_test2@15kay.fr
# OVERDIDE_HEALTHIE_PROVIDER_ID='1033222'

# staging - Patient One
# OVERDIDE_HEALTHIE_USER_ID='1035117'

# staging - Omar Patient One (with real Tenovi devices)
# OVERDIDE_HEALTHIE_USER_ID='1051529'

# staging - Patient Four
# OVERDIDE_HEALTHIE_USER_ID='1209727'

# -----------------------------------------------------------------------------
# HEALTHIE API
#  - organization : 'staging' or 'production'

HEALTHIE_ORGANIZATION='xxx'
HEALTHIE_API_KEY='xxxxxxxxxxxxxxxxxxxx'

# -----------------------------------------------------------------------------
# TENOVI API
# - client domain: used in the URL to access the API : https://api2.tenovi.com/clients/{client_domain}
#    - syntrillo      : mix of RPM and HWI modules. HWI not fully implemented
#    - syntrillo-hwi  : HWI module only
# - the base URL is hard coded, with the version of the API
TENOVI_CLIENT_DOMAIN='xxx'
TENOVI_API_KEY='xxxxxxxxxxxxxxxxxxxxxxxx'

# -----------------------------------------------------------------------------
# What database to use
# : 'PythonAnywhere', 'AWS'
DATABASE_SERVER='PythonAnywhere'

# AWS DATABASE CREDENTIALS
AWS_DATABASE_CONFIG_HOST="xxxxxxxxx.rds.amazonaws.com"
AWS_DATABASE_CONFIG_USER="xxxxxxxx"
AWS_DATABASE_CONFIG_PASSWORD="xxxxxxxxxxx"
AWS_DATABASE_CONFIG_LOCAL_PORT=3306

# mySQL database at PythonAnywhere
PYTHON_ANYWHERE_DATABASE_CONFIG_USER='syntrillo'
PYTHON_ANYWHERE_DATABASE_CONFIG_PASSWORD='xxxxxxxxxxxxxxxxx'
PYTHON_ANYWHERE_DATABASE_CONFIG_HOST='syntrillo.mysql.pythonanywhere-services.com'

# ssh tunneling required if outside of PythonAnywhere
PYTHON_ANYWHERE_DATABASE_CONFIG_SSH_USERNAME='syntrillo'
PYTHON_ANYWHERE_DATABASE_CONFIG_SSH_PASSWORD='xxxxxxxxxxxxx'

# -----------------------------------------------------------------------------
# Set your OpenAI API key
OPENAI_API_KEY = 'xxxxxxxxxxxxxxxxxxxxxxx'


