apig-wsgi==2.18.0
aws_cdk.asset_awscli_v1==2.2.202
aws_cdk.asset_kubectl_v20==2.1.2
aws_cdk.asset_node_proxy_agent_v6==2.0.3
aws_cdk_lib==2.143.1
aws_lambda_powertools==2.43.0
aws_wsgi==0.2.7
bleach==6.1.0
boto3==1.34.157
Flask==3.0.3
kaleido==0.2.1
Markdown==3.6
markdown2==2.4.13
MarkupSafe==2.1.5
matplotlib==3.9.1.post1
mysql_connector_repackaged==0.3.1
numpy==2.0.1
openai==1.40.2
openpyxl==3.1.5
pandas==2.2.2
pipreqs==0.5.0
protobuf==5.27.3
pymupdf==1.24.9
PyMySQL==1.1.1
python-dotenv==1.0.1
pytz==2024.1
Requests==2.32.3
sshtunnel==0.4.0
statsmodels==0.14.2
Werkzeug==3.0.3
