/* General Styles from test/iframe_provider.css */

body {
    font-family: Arial, sans-serif;
}

h4 {
    color: #4CAF50;
    font-weight: bold;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

/* Tab specific styles */
.tab-content {
    padding: 20px;
    border: 1px solid #ddd;
    border-top: none;
}

.tab-pane h4 {
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.tab-pane p {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

/* Additional Custom Styling for your Test */
.tab-pane.custom-style {
    background-color: #f0f0f0;
    padding: 25px;
    border-radius: 10px;
}



/* Demo code below */

.table-secondary td{
    padding: 1.4rem;
    background-color: #F5F5F5;
}

.gradient-bar{
    background-image: linear-gradient(to right, green, yellow, red);
    width: 100%;
    height: 2rem;
}

.bi-arrow-bar-down{
    position: relative;
    left: 78%;
}


.custom-card{
    border: 1px solid #B3B7BB;
    padding: 1rem;
    margin: 1rem;
    width: 20vw;
    font-size: .8rem;
    background-color: #F5F5F5;
}

.custom-card-blank{
    border: none;
    padding: 1rem;
    margin: 1rem;
    width: 20vw;
    font-size: .8rem;

}
.custom-card svg{
    margin-right: .8rem;
}

.custom-card h5{
font-size: 1rem;
}

.biometric-wrapper{
    width: 33vw;
}

.overall-wrapper{
    margin-top: 2rem;
}

.orange-text{
    color: rgb(235, 143, 4);
    font-weight: 600;
}
.green-text{
    color: green;
    font-weight: 600;
}
.data-text{
 color: #34B0CB;
 font-weight: 550;
}
.last-measured{
    display: none;
}

.biometric-wrapper a:link{
    color: inherit;
    text-decoration: underline;
}
.biometric-wrapper a:visited{
    color: inherit;
    text-decoration: underline;
}


 /*  mobile devices */
 @media (max-width: 800px) {
    .biometric-wrapper{
        width: 96vw;
        margin-top: 4vh;
    }
    .custom-card{
        width: 100%;
        margin: 1vw;

    }
    .barriers-wrapper table{
        width: 98vw;
        font-size: .85rem;
    }
    .last-measured{
        display: block;
    }
 }


