{% extends "healthie/iframe_provider_tab/forms/index_form.html" %}

{% block extra_head %}
<style>

#medication-form-content {
    height: 500px;
    overflow: scroll;
}

.form-group-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
}

</style>
{% endblock %}


{% block content %}
<form id="medication-form" class="form-subcontainer" onsubmit="">
    <div id="medication-form-content" class="form-content">
        <input type="hidden" id="medication-id" name="medication_id">
        <input type="hidden" id="medication-syntrillo-internal-key" name="syntrillo_internal_key">
        <input type="hidden" id="medication-dosage-option-id" name="dosage_option_id">
        <input type="hidden" id="medication-mirrored" name="mirrored">

        <div id="medication-name-container" class="form-group">
            <label for="medication-name">Medication Name <span class="required-field">*</span></label>
            <input type="text" id="medication-name" name="medication_name" required>
        </div>

        <div id="medication-category-container" class="form-group">
            <label for="medication-category">Category</label>
            <select id="medication-category" name="category">
                <option value="antiplatelet">Antiplatelet</option>
                <option value="antihypertensive">Antihypertensive</option>
                <option value="statin">Statin</option>
                <option value="hypoglycemic-agent">Hypoglycemic Agent</option>
                <option value="ace_inhibitor">ACE Inhibitor</option>
                <option value="arb">ARB</option>
                <option value="beta_blocker">Beta Blocker</option>
                <option value="calcium_channel_blocker">Calcium Channel Blocker (CCB)</option>
                <option value="diuretic">Diuretic</option>
                <option value="other">Other</option>
            </select>
        </div>

        <div id="medication-is-active-container" class="form-group">
            <label for="medication-is-active">Is this medication currently being taken by the patient? <span class="required-field">*</span></label>
            <div class="input-button-group">
                <div class="input-button-group-item">
                    <input type="radio" id="medication-is-active-yes" name="is_active" value="yes" default>
                    <label for="medication-is-active-yes">Yes</label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="medication-is-active-no" name="is_active" value="no">
                    <label for="medication-is-active-no">No</label>
                </div>
            </div>
        </div>

        <div class="form-group-container-2">
            <div id="medication-start-date-container" class="form-group">
                <label for="medication-start-date">Start Date</label>
                <input type="date" id="medication-start-date" name="start_date">
            </div>
            <div id="medication-end-date-container" class="form-group">
                <label for="medication-end-date">End Date</label>
                <input type="date" id="medication-end-date" name="end_date">
            </div>
        </div>

        <div class="form-group-container-2">
            <div id="medication-dose-container" class="form-group">
                <label for="medication-dose">Dosage <span class="required-field">*</span></label>
                <input type="number" id="medication-dose" name="dosage_amount" step="0.1" min="0.1" required>
            </div>
            <div id="medication-dose-unit-container" class="form-group">
                <label for="medication-dose-unit">Unit <span class="required-field">*</span></label>
                <input type="text" id="medication-dose-unit" name="dosage_unit" placeholder="e.g. mg, g, mL, etc." required>
            </div>
        </div>

        <div class="form-group-container-2">
            <div id="medication-count-container" class="form-group">
                <label for="medication-count">Count (# of doses per intake) <span class="required-field">*</span></label>
                <input type="number" id="medication-count" name="dose_count" step="1" min="1" required>
            </div>
            <div id="medication-frequency-container" class="form-group">
                <label for="medication-frequency">Frequency <span class="required-field">*</span></label>
                <input type="text" id="medication-frequency" name="frequency" placeholder="e.g. daily, weekly, as needed, etc." required>
            </div>
        </div>

        <div id="medication-time-of-day-container" class="form-group">
            <label for="medication-time-of-day">Time of Day <span class="required-field">*</span></label>
            <input type="text" id="medication-time-of-day" name="time_of_day" placeholder="e.g. morning, afternoon, evening, etc." required>
        </div>

        <div id="medication-delivery-method-container" class="form-group">
            <label for="medication-delivery-method">Delivery Method <span class="required-field">*</span></label>
            <select id="medication-delivery-method" name="delivery_method" required>
                <option value="tablet-capsule-pill" selected>Tablet/Capsule/Pill</option>
                <option value="cream">Cream</option>
                <option value="implant">Implant</option>
                <option value="inhaler">Inhaler</option>
                <option value="suppository">Suppository</option>
                <option value="injection">Injection</option>
                <option value="other">Other</option>
            </select>
        </div>

        <div id="medication-comment-container" class="form-group">
            <label for="medication-comment">Comment <span class="required-field">*</span></label>
            <textarea id="medication-comment" name="comment" placeholder="Enter any additional information about the medication"></textarea>
        </div>

        <div id="medication-directions-container" class="form-group">
            <label for="medication-directions">Directions <span class="required-field">*</span></label>
            <textarea id="medication-directions" name="directions" placeholder="Enter any additional directions about the medication"></textarea>
        </div>
    </div>

    <div class="form-submit-footer">
        <div id="form-status-message"></div>
        <button type="submit" class="form-submit-btn" onclick="event.preventDefault(); submitMedicationForm()">Submit</button>
    </div>
</form>
{% endblock %}


{% block scripts %}
<script>
</script>
{% endblock %}
