{% extends "healthie/iframe_provider_tab/forms/index_form.html" %}

{% block extra_head %}
<style>
    #medication-form-content {
        height: 500px;
        overflow: scroll;
    }

    .form-group-container-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        width: 100%;
    }

    .medication-keywords-container {
        display: flex;
        flex-direction: column;
        border: 1px solid #d1d5db;
        border-radius: 0.375rem;
        margin-top: 0.25rem;
    }

    .medication-keywords-container p {
        margin: 0;
        padding: 0.5rem;
        font-size: 0.875rem;
        color: #16284a;
        border-bottom: 1px solid #d1d5db;
        cursor: pointer;
    }

    .medication-keywords-container p:hover {
        background-color: #f3f4f6;
    }

    .medication-keywords-container p:last-child {
        border-bottom: none;
    }

    .dose-suggestions-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
        border-radius: 0.375rem;
        background-color: #f3f4f6;
    }

    .dose-suggestions-container h3 {
        margin: 0;
        font-weight: 600;
        color: #16284a;
        font-size: small;
    }

    .dose-suggestions-container ul {
        margin: 0;
        padding: 0;
        font-size: small;
    }

    .dose-suggestions-container li {
        margin-left: 1rem;
        padding: 0;
        font-size: small;
        list-style-type: disc;
        list-style-position: inside;
    }

    .inputs-description {
        color: #6b7280;
        font-size: small;
        margin-bottom: 0.5rem;
    }

    .medication-checkbox-group {
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .medication-checkbox {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .medication-checkbox input {
        width: fit-content !important;
    }

    .medication-checkbox label {
        font-weight: normal;
    }

    .required-field {
        color: red;
    }
</style>
{% endblock %}


{% block content %}
<form id="medication-form" class="form-subcontainer" onsubmit="">
    <div id="medication-form-content" class="form-content">

        <p id="healthie-medication-inputs-description" class="inputs-description">
            <span><i class="fa-solid fa-circle-exclamation"></i></span> This section contains inputs that are synced with Healthie's medication database. Changes made within this form will also
            appear in the patient's medication list on the Healthie's 'Overview' tab.
        </p>

        <input type="hidden" id="syntrillo-medication-id" name="id">
        <input type="hidden" id="healthie-medication-id" name="healthie_medication_id">
        <input type="hidden" id="medication-dosage-option-id" name="dosage_option_id">
        <input type="hidden" id="medication-mirrored" name="mirrored">

        <div id="medication-name-container" class="form-group">
            <label for="medication-name">Medication Name <span class="required-field">*</span></label>
            <input type="text" id="medication-name" name="medication_name" list="healthie-medication-suggestions" required
                autocomplete="off" placeholder="Start typing medication name...">
            <datalist id="healthie-medication-suggestions">
                <!-- Options populated dynamically -->
            </datalist>
        </div>

        <div id="medication-is-active-container" class="form-group">
            <label for="medication-is-active">Is this medication currently being taken by the patient? <span
                    class="required-field">*</span></label>
            <div class="input-button-group">
                <div class="input-button-group-item">
                    <input type="radio" id="medication-is-active-yes" name="is_active" value="yes" default>
                    <label for="medication-is-active-yes">Yes</label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="medication-is-active-no" name="is_active" value="no">
                    <label for="medication-is-active-no">No</label>
                </div>
            </div>
        </div>

        <div class="form-group-container-2">
            <div id="medication-start-date-container" class="form-group">
                <label for="medication-start-date">Start Date <span class="required-field">*</span></label>
                <input type="date" id="medication-start-date" name="start_date">
            </div>
            <div id="medication-end-date-container" class="form-group">
                <label for="medication-end-date">End Date <span id="medication-end-date-required-tag" class="required-field" style="display: none;">*</span></label>
                <input type="date" id="medication-end-date" name="end_date" disabled=True>
            </div>
        </div>

        <div id="medication-comment-container" class="form-group">
            <label for="medication-comment">Comment</label>
            <textarea id="medication-comment" name="comment"
                placeholder="Enter any additional information about the medication"></textarea>
        </div>

        <div id="medication-directions-container" class="form-group">
            <label for="medication-directions">Directions</label>
            <textarea id="medication-directions" name="directions"
                placeholder="Enter any additional directions about the medication"></textarea>
        </div>

        <p id="syntrillo-medication-inputs-description" class="inputs-description">
            <span><i class="fa-solid fa-circle-exclamation"></i></span> The inputs listed below are used for internal purposes only and will not be synced with external providers (Healthie, DoseSpot, etc.). These are not required fields but are highly recommended to ensure accurate medication tracking within Syntrillo.
        </p>

        <div id="medication-common-name-container" class="form-group">
            <label for="medication-common-name">Common Name</label>
            <input type="text" id="medication-common-name" name="common_name" placeholder="e.g. 'Aspirin'" list="syntrillo-medication-suggestions" />
            <datalist id="syntrillo-medication-suggestions">
                <!-- Options populated dynamically -->
            </datalist>
        </div>

        <input type="hidden" id="common-medication-id" name="common_medication_id" value="" />

        <div class="form-group-container-2">
            <div id="medication-category-container" class="form-group">
                <label for="medication-category">Category <span id="medication-category-required-tag" class="required-field" style="display: none;">*</span></label>
                <select id="medication-category" name="category">
                    <option value="">-- Select Category --</option>
                    <option value="antiplatelet">Antiplatelet</option>
                    <option value="antihypertensive">Antihypertensive</option>
                    <option value="anticoagulant">Anticoagulant</option>
                    <option value="antihistamine">Antihistamine</option>
                    <option value="statin">Statin</option>
                    <option value="hypoglycemic-agent">Hypoglycemic Agent</option>
                    <option value="ace_inhibitor">ACE Inhibitor</option>
                    <option value="arb">ARB</option>
                    <option value="beta_blocker">Beta Blocker</option>
                    <option value="calcium_channel_blocker">Calcium Channel Blocker (CCB)</option>
                    <option value="diuretic">Diuretic</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div id="medication-supercategory-container" class="form-group">
                <label for="medication-supercategory">Supercategory <span id="medication-supercategory-required-tag" class="required-field" style="display: none;">*</span></label>
                <select id="medication-supercategory" name="supercategory">
                    <option value="">-- Select Supercategory --</option>
                    <option value="blood_thinner">Blood Thinner</option>
                    <option value="cholesterol_medication">Cholesterol Medication</option>
                    <option value="diabetes_medication">Diabetes Medication</option>
                    <option value="blood_pressure_medication">Blood Pressure Medication</option>
                    <option value="pain_reliever">Pain Reliever</option>
                    <option value="other">Other</option>
                </select>
            </div>
        </div>

        <div id="medication-custom-classification-container" class="form-group-container-2">
            <div id="medication-custom-category-container" class="form-group">
                <label for="medication-custom-category">Custom Category <span id="medication-custom-category-required-tag" class="required-field" style="display: none;">*</span></label>
                <input type="text" id="medication-custom-category" name="category_custom" disabled />
            </div>
            <div id="medication-custom-supercategory-container" class="form-group">
                <label for="medication-custom-supercategory">Custom Supercategory <span id="medication-custom-supercategory-required-tag" class="required-field" style="display: none;">*</span></label>
                <input type="text" id="medication-custom-supercategory" name="supercategory_custom" disabled />
            </div>
        </div>

        <div id="medication-delivery-method-container" class="form-group">
            <label for="medication-delivery-method">Delivery Method</label>
            <select id="medication-delivery-method" name="delivery_method">
                <option value="">-- Select Delivery Method --</option>
                <option value="pill/tablet/capsule">Pill/Tablet/Capsule</option>
                <option value="cream">Cream</option>
                <option value="implant">Implant</option>
                <option value="inhaler">Inhaler</option>
                <option value="suppositories">Suppositories</option>
                <option value="injection">Injection</option>
                <option value="other">Other</option>
            </select>
        </div>

        <div class="form-group-container-2">
            <div id="medication-dosing-schedule-rule-container" class="form-group">
                <label for="medication-dosing-schedule-rule">Dosing Schedule Rule</label>
                <select id="medication-dosing-schedule-rule" name="dosing_schedule_rule">
                    <option value="">-- Select Dosing Schedule Rule --</option>
                    <option value="QD">QD</option>
                    <option value="BID">BID</option>
                    <option value="TID">TID</option>
                    <option value="QID">QID</option>
                    <option value="PRN">PRN</option>
                </select>
            </div>
            <div id="medication-total-dose-container" class="form-group">
                <label for="medication-total-daily-dose">Total Daily Dose</label>
                <input type="number" id="medication-total-daily-dose" name="total_daily_dose" step="0.1" min="0.1"
                    required>
            </div>
        </div>

        <div id="dose-suggestions-container" class="dose-suggestions-container" style="display: none;">
            <h3>The following are suggested dosages from Healthie's medication database:</h3>
            <ul id="dose-suggestions-list">
                <!-- Options populated dynamically -->
            </ul>
        </div>

        <div class="form-group-container-2">
            <div id="medication-dose-container" class="form-group">
                <label for="medication-dose">Dosage
                <input type="number" id="medication-dose" name="dosage_amount" step="0.1" min="0.1" required>
            </div>
            <div id="medication-dose-unit-container" class="form-group">
                <label for="medication-dose-unit">Unit
                <input type="text" id="medication-dose-unit" name="dosage_unit" placeholder="e.g. mg, g, mL, etc."
                    required>
            </div>
        </div>

        <div class="form-group-container-2">
            <div id="medication-count-container" class="form-group">
                <label for="medication-count">Count (# of doses per intake)</label>
                <input type="number" id="medication-count" name="dose_count" step="0.5" min="0.5"
                    placeholder="e.g. 0.5, 1, 2">
            </div>
            <div id="medication-frequency-container" class="form-group">
                <label for="medication-frequency">Frequency</label>
                <select id="medication-frequency" name="frequency">
                    <option value="">-- Select Frequency --</option>
                    <option value="as-needed">As Needed</option>
                    <option value="hourly">Hourly</option>
                    <option value="daily">Daily</option>
                    <option value="weekly">Weekly</option>
                    <option value="monthly">Monthly</option>
                    <option value="one-time">One-time</option>
                    <option value="other">Other</option>
                </select>
            </div>
        </div>

        <div class="form-group-container-2">
            <div id="medication-dosing-interval-container" class="form-group">
                <label for="medication-dosing-interval">Dosing Interval</label>
                <input type="number" id="medication-dosing-interval" name="dosing_interval" step="1" min="1"
                    placeholder="e.g. 1, 2, 3">
            </div>
            <div id="medication-time-of-day-container" class="form-group">
                <label for="medication-time-of-day">Time of Day</label>
                <input type="time" id="medication-time-of-day" name="time_of_day">
            </div>
        </div>

        <div class="form-group-container-2">
            <div id="medication-day-period-container" class="form-group">
                <label>Day Period</label>
                <div class="medication-checkbox-group">
                    <div class="medication-checkbox">
                        <input type="checkbox" id="time-morning" name="day_period" value="morning">
                        <label for="time-morning">Morning</label>
                    </div>
                    <div class="medication-checkbox">
                        <input type="checkbox" id="time-noon" name="day_period" value="noon">
                        <label for="time-noon">Noon</label>
                    </div>
                    <div class="medication-checkbox">
                        <input type="checkbox" id="time-afternoon" name="day_period" value="afternoon">
                        <label for="time-afternoon">Afternoon</label>
                    </div>
                    <div class="medication-checkbox">
                        <input type="checkbox" id="time-evening" name="day_period" value="evening">
                        <label for="time-evening">Evening</label>
                    </div>
                    <div class="medication-checkbox">
                        <input type="checkbox" id="time-night" name="day_period" value="night">
                        <label for="time-night">Night</label>
                    </div>
                    <div class="medication-checkbox">
                        <input type="checkbox" id="time-bedtime" name="day_period" value="bedtime">
                        <label for="time-bedtime">Bedtime</label>
                    </div>
                </div>
            </div>
            <div id="medication-day-of-week-container" class="form-group">
                <label>Day of Week</label>
                <div class="medication-checkbox-group">
                    <div class="medication-checkbox">
                        <input type="checkbox" id="time-monday" name="day_of_week" value="monday">
                        <label for="time-monday">Monday</label>
                    </div>
                    <div class="medication-checkbox">
                        <input type="checkbox" id="time-tuesday" name="day_of_week" value="tuesday">
                        <label for="time-tuesday">Tuesday</label>
                    </div>
                    <div class="medication-checkbox">
                        <input type="checkbox" id="time-wednesday" name="day_of_week" value="wednesday">
                        <label for="time-wednesday">Wednesday</label>
                    </div>
                    <div class="medication-checkbox">
                        <input type="checkbox" id="time-thursday" name="day_of_week" value="thursday">
                        <label for="time-thursday">Thursday</label>
                    </div>
                    <div class="medication-checkbox">
                        <input type="checkbox" id="time-friday" name="day_of_week" value="friday">
                        <label for="time-friday">Friday</label>
                    </div>
                    <div class="medication-checkbox">
                        <input type="checkbox" id="time-saturday" name="day_of_week" value="saturday">
                        <label for="time-saturday">Saturday</label>
                    </div>
                    <div class="medication-checkbox">
                        <input type="checkbox" id="time-sunday" name="day_of_week" value="sunday">
                        <label for="time-sunday">Sunday</label>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="form-submit-footer">
        <h3 id="form-status-message"></h3>
        <button type="submit" id="medication-submit-btn" class="form-submit-btn"
            onclick="event.preventDefault(); submitMedicationForm()">Submit</button>
    </div>
</form>
{% endblock %}


{% block scripts %}
<script>

    document.getElementById('medication-is-active-no').addEventListener('input', function () {
        document.getElementById('medication-end-date').disabled = false;
        document.getElementById('medication-end-date-required-tag').style.display = 'inline';
    });
    document.getElementById('medication-is-active-yes').addEventListener('input', function () {
        document.getElementById('medication-end-date').disabled = true;
        document.getElementById('medication-end-date-required-tag').style.display = 'none';
    });

    document.getElementById('medication-name').addEventListener('input', function () {
        document.getElementById('dose-suggestions-container').style.display = 'block';
    });

    document.getElementById('medication-common-name').addEventListener('input', function () {
        if (this.value.length < 2) {
            document.getElementById('medication-category-required-tag').style.display = 'none';
            document.getElementById('medication-supercategory-required-tag').style.display = 'none';
        } else {
            document.getElementById('medication-category-required-tag').style.display = 'inline';
            document.getElementById('medication-supercategory-required-tag').style.display = 'inline';
        }
    });

    document.getElementById('medication-category').addEventListener('change', function () {
        const customCategoryInput = document.getElementById('medication-custom-category');
        const customCategoryRequiredTag = document.getElementById('medication-custom-category-required-tag');
        if (this.value === 'other') {
            customCategoryInput.disabled = false;
            customCategoryInput.style.display = 'block';
            customCategoryRequiredTag.style.display = 'inline';
            customCategoryInput.ariaPlaceholder = 'Please specify category...';
            document.getElementById('medication-custom-classification-container').style.display = 'grid';
        } else {
            customCategoryInput.value = '';
            customCategoryInput.disabled = true;
            customCategoryInput.style.display = 'none';
            customCategoryRequiredTag.style.display = 'none';
            customCategoryInput.ariaPlaceholder = '';
            document.getElementById('medication-custom-classification-container').style.display = 'none';
        }
    });

    document.getElementById('medication-supercategory').addEventListener('change', function () {
        const customSupercategoryInput = document.getElementById('medication-custom-supercategory');
        const customSupercategoryRequiredTag = document.getElementById('medication-custom-supercategory-required-tag');
        if (this.value === 'other') {
            customSupercategoryInput.disabled = false;
            customSupercategoryInput.style.display = 'block';
            customSupercategoryRequiredTag.style.display = 'inline';
            customSupercategoryInput.ariaPlaceholder = 'Please specify supercategory...';
            document.getElementById('medication-custom-classification-container').style.display = 'grid';
        } else {
            customSupercategoryInput.value = '';
            customSupercategoryInput.disabled = true;
            customSupercategoryInput.style.display = 'none';
            customSupercategoryRequiredTag.style.display = 'none';
            customSupercategoryInput.ariaPlaceholder = '';
            document.getElementById('medication-custom-classification-container').style.display = 'none';
        }
    });

</script>
{% endblock %}
