{% extends "healthie/iframe_provider_tab/forms/index_form.html" %}

{% block extra_head %}
<style>
    h2 {
        margin: 0 !important;
    }
</style>
{% endblock %}


{% block content %}
<form id="monthly-visit-form" class="form-subcontainer" onsubmit="">

    <div id="monthly-visit-form-content" class="form-content">

        <div id="" class="form-group">
            <label for="previous-stroke">
                1. Has the patient had a previous stroke?
            </label>
            <div class="input-button-group">
                <div class="input-button-group-item">
                    <input type="radio" id="previous-stroke-yes" name="previous_stroke" value="yes">
                    <label for="previous-stroke-yes">
                        Yes
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="previous-stroke-no" name="previous_stroke" value="no">
                    <label for="previous-stroke-no">
                        No
                    </label>
                </div>
            </div>
        </div>

        <div id="" class="form-group">
            <label for="previous-stroke-count">
                1a. How many strokes has the patient had?
            </label>
            <div class="input-button-group">
                <div class="input-button-group-item">
                    <input type="radio" id="previous-stroke-count-one" name="previous_stroke_count" value="one">
                    <label for="previous-stroke-count-one">
                        One
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="previous-stroke-multiple" name="previous_stroke_count" value="multiple">
                    <label for="previous-stroke-multiple">
                        Multiple
                    </label>
                </div>
            </div>
        </div>

        <div id="" class="form-group">
            <label for="previous-stroke-count">
                1b. What was the latest stroke's mechanism?
            </label>
            <div class="input-button-group">
                <div class="input-button-group-item">
                    <input type="radio" id="previous-stroke-mechanism-small-vessel" name="previous_stroke_mechanism" value="small-vessel">
                    <label for="previous-stroke-mechanism-small-vessel">
                        Small Vessel
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="previous-stroke-mechanism-large-vessel" name="previous_stroke_mechanism" value="large-vessel">
                    <label for="previous-stroke-mechanism-large-vessel">
                        Large Vessel
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="previous-stroke-mechanism-cryptogenic" name="previous_stroke_mechanism" value="cryptogenic">
                    <label for="previous-stroke-mechanism-cryptogenic">
                        Cryptogenic
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="previous-stroke-mechanism-hypercoagulable" name="previous_stroke_mechanism" value="hypercoagulable">
                    <label for="previous-stroke-mechanism-hypercoagulable">
                        Hypercoagulable
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="previous-stroke-mechanism-structural" name="previous_stroke_mechanism" value="structural">
                    <label for="previous-stroke-mechanism-structural">
                        Structural
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="previous-stroke-mechanism-other" name="previous_stroke_mechanism" value="other">
                    <label for="previous-stroke-mechanism-other">
                        Other
                    </label>
                </div>
            </div>
        </div>

        <div id="" class="form-group">
            <label for="tia-screening">
                2. For neurologist: Has the patient been screened for TIA?
            </label>
            <div class="input-button-group">
                <div class="input-button-group-item">
                    <input type="radio" id="tia-screening-yes" name="tia_screening" value="yes">
                    <label for="tia-screening-yes">
                        Yes
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="tia-screening-no" name="tia_screening" value="no">
                    <label for="tia-screening-no">
                        No
                    </label>
                </div>
            </div>
        </div>

        <div id="" class="form-group">
            <label for="tia-likelihood">
                2a. What is the likelihood of TIA?
            </label>
            <div class="input-button-group">
                <div class="input-button-group-item">
                    <input type="radio" id="tia-likelihood-yes" name="tia_likelihood" value="likely">
                    <label for="tia-likelihood-yes">
                        High likelihood
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="tia-likelihood-no" name="tia_likelihood" value="not-likely">
                    <label for="tia-likelihood-no">
                        Not likely
                    </label>
                </div>
            </div>
        </div>

        <div id="" class="form-group">
            <label for="tia-mechanism">
                2b. What was the TIA mechanism? If 'other', what other mechanism?
            </label>
            <div class="input-button-group">
                <div class="input-button-group-item">
                    <input type="radio" id="tia-mechanism-small-vessel" name="tia_mechanism" value="small-vessel">
                    <label for="tia-mechanism-small-vessel">
                        Small Vessel
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="tia-mechanism-large-vessel" name="tia_mechanism" value="large-vessel">
                    <label for="tia-mechanism-large-vessel">
                        Large Vessel
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="tia-mechanism-cryptogenic" name="tia_mechanism" value="cryptogenic">
                    <label for="tia-mechanism-cryptogenic">
                        Cryptogenic
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="tia-mechanism-hypercoagulable" name="tia_mechanism" value="hypercoagulable">
                    <label for="tia-mechanism-hypercoagulable">
                        Hypercoagulable
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="tia-mechanism-structural" name="tia_mechanism" value="structural">
                    <label for="tia-mechanism-structural">
                        Structural
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="tia-mechanism-other" name="tia_mechanism" value="other">
                    <label for="tia-mechanism-other">
                        Other
                    </label>
                </div>
            </div>
        </div>

        <div id="" class="form-group">
            <label for="prior-head-ct">
                3. Has the patient had a prior head CT?
            </label>
            <div class="input-button-group">
                <div class="input-button-group-item">
                    <input type="radio" id="prior-head-ct-yes" name="prior_head_ct" value="yes">
                    <label for="prior-head-ct-yes">
                        Yes
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="prior-head-ct-no" name="prior_head_ct" value="no">
                    <label for="prior-head-ct-no">
                        No
                    </label>
                </div>
            </div>
        </div>

        <div id="" class="form-group">
            <label for="prior-head-ct-date">
                3a. When was the most recent CT?
            </label>
            <input type="date" id="prior-head-ct-date" name="prior_head_ct_date" value="" />
        </div>

        <div id="" class="form-group">
            <label for="prior-head-ct-chronic-infarct">
                3b. Was a chronic infarct present?
            </label>
            <div class="input-button-group">
                <div class="input-button-group-item">
                    <input type="radio" id="prior-head-ct-chronic-infarct-yes" name="prior_head_ct_chronic_infarct" value="yes">
                    <label for="prior-head-ct-chronic-infarct-yes">
                        Yes
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="prior-head-ct-chronic-infarct-no" name="prior_head_ct_chronic_infarct" value="no">
                    <label for="prior-head-ct-chronic-infarct-no">
                        No
                    </label>
                </div>
            </div>
        </div>

        <div id="" class="form-group">
            <label for="">
                4. History of any of the following:
            </label>
            <div class="input-button-group">
                <div class="input-button-group-item">
                    <input type="checkbox" id="a-fib" name="a_fib">
                    <label for="a_fib">
                        Atrial fibrillation
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="checkbox" id="iron-deficiency-anemia" name="iron_deficiency_anemia">
                    <label for="iron_deficiency_anemia">
                        Iron deficiency anemia
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="checkbox" id="arterial-clots" name="arterial_clots">
                    <label for="arterial_clots">
                        Arterial clots
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="checkbox" id="venous-clots" name="venous_clots">
                    <label for="venous_clots">
                        Venous clots
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="checkbox" id="chf" name="chf">
                    <label for="chf">
                        Congestive heart failure (CHF)
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="checkbox" id="cad" name="cad">
                    <label for="cad">
                        Carotid stenosis
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="checkbox" id="osa" name="osa">
                    <label for="osa">
                        Obstructive sleep apnea (OSA)
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="checkbox" id="cad" name="cad">
                    <label for="cad">
                        Coronary artery disease (CAD)
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="checkbox" id="valvular-heart-disease" name="valvular_heart_disease">
                    <label for="valvular_heart_disease">
                        Valvular heart disease
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="checkbox" id="ckd" name="ckd">
                    <label for="ckd">
                        Chronic kidney disease
                    </label>
                </div>
            </div>
        </div>

        <div id="" class="form-group">
            <label for="iron-deficiency-anemia-severity">
                (Iron Deficiency Anemia) Severity?
            </label>
            <div class="input-button-group">
                <div class="input-button-group-item">
                    <input type="radio" id="iron-deficiency-anemia-mild" name="iron_deficiency_anemia_severity" value="mild">
                    <label for="iron-deficiency-anemia-mild">
                        Mild
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="iron-deficiency-anemia-severe" name="iron_deficiency_anemia_severity" value="severe">
                    <label for="iron-deficiency-anemia-severe">
                        Severe
                    </label>
                </div>
            </div>
        </div>

        <div id="" class="form-group">
            <label for="iron-deficiency-anemia-treatment">
                (Iron Deficiency Anemia) Treatment optimization?
            </label>
            <div class="input-button-group">
                <div class="input-button-group-item">
                    <input type="radio" id="iron-deficiency-anemia-treatment-none" name="iron_deficiency_anemia_treatment" value="none">
                    <label for="iron-deficiency-anemia-treatment-none">
                        Not optimized
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="iron-deficiency-anemia-treatment-partial" name="iron_deficiency_anemia_treatment" value="partial">
                    <label for="iron-deficiency-anemia-treatment-partial">
                        Partially optimized
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="iron-deficiency-anemia-treatment-full" name="iron_deficiency_anemia_treatment" value="full">
                    <label for="iron-deficiency-anemia-treatment-full">
                        Fully optimized
                    </label>
                </div>
            </div>
        </div>

        <div id="" class="form-group">
            <label for="arterial-clots-num-occurences">
                (Arterial clots) Number of occurences?
            </label>
            <div class="input-button-group">
                <div class="input-button-group-item">
                    <input type="radio" id="arterial-clots-once" name="arterial_clots_num_occurence" value="single">
                    <label for="arterial-clots-once">
                        Once
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="arterial-clots-multiple" name="arterial_clots_num_occurence" value="multiple">
                    <label for="arterial-clots-multiple">
                        More than once
                    </label>
                </div>
            </div>
        </div>

        <div id="" class="form-group">
            <label for="venous-clots-num-occurences">
                (Venous clots) Number of occurences?
            </label>
            <div class="input-button-group">
                <div class="input-button-group-item">
                    <input type="radio" id="venous-clots-once" name="venous_clots_num_occurence" value="single">
                    <label for="venous-clots-once">
                        Once
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="venous-clots-multiple" name="venous_clots_num_occurence" value="multiple">
                    <label for="venous-clots-multiple">
                        More than once
                    </label>
                </div>
            </div>
        </div>

        <div id="" class="form-group">
            <label for="pfo-presence">
                (Venous clots) Presence of PFO?
            </label>
            <div class="input-button-group">
                <div class="input-button-group-item">
                    <input type="radio" id="pfo-presence-yes" name="pfo_presence" value="positive">
                    <label for="pfo-presence-yes">
                        Positive
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="pfo-presence-no" name="pfo_presence" value="negative">
                    <label for="pfo-presence-no">
                        Negative
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="pfo-presence-unknown" name="pfo_presence" value="unknown">
                    <label for="pfo-presence-unknown">
                        Unknown
                    </label>
                </div>
            </div>
        </div>

        <div id="" class="form-group">
            <label for="ejection-fraction">
                (CHF) What was the patient's ejection fraction (EF)?
            </label>
            <div class="input-button-group">
                <div class="input-button-group-item">
                    <input type="radio" id="ejection-fraction-less" name="ejection_fraction" value="<=40">
                    <label for="ejection-fraction-less">
                        <= 40%
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="ejection-fraction-more" name="ejection_fraction" value=">40">
                    <label for="ejection-fraction-more">
                        > 40%
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="ejection-fraction-unknown" name="ejection_fraction" value="unknown">
                    <label for="ejection-fraction-unknown">
                        Unknown
                    </label>
                </div>
            </div>
        </div>

        <div id="" class="form-group">
            <label for="carotid-stenosis-percent">
                (Carotid Stenosis) What was the patient's % of stenosis?
            </label>
            <div class="input-button-group">
                <div class="input-button-group-item">
                    <input type="radio" id="carotid-stenosis-percent-50-70" name="carotid_stenosis_percent" value="50-70">
                    <label for="carotid-stenosis-percent-less">
                        50 - 70%
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="carotid-stenosis-percent-70-plus" name="carotid_stenosis_percent" value=">70">
                    <label for="carotid-stenosis-percent-more">
                        > 70%
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="carotid-stenosis-percent-unknown" name="carotid_stenosis_percent" value="unknown">
                    <label for="carotid-stenosis-percent-unknown">
                        Unknown
                    </label>
                </div>
            </div>
        </div>

        <div id="" class="form-group">
            <label for="osa-severity">
                (OSA) Severity?
            </label>
            <div class="input-button-group">
                <div class="input-button-group-item">
                    <input type="radio" id="osa-severity-mild" name="osa_severity" value="mild">
                    <label for="osa-severity-less">
                        Mild
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="osa-severity-moderate" name="osa_severity" value="moderate">
                    <label for="osa-severity-more">
                        Moderate
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="osa-severity-severe" name="osa_severity" value="severe">
                    <label for="osa-severity-more">
                        Severe
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="osa-severity-unknown" name="osa_severity" value="unknown">
                    <label for="osa-severity-unknown">
                        Unknown
                    </label>
                </div>
            </div>
        </div>

        <div id="" class="form-group">
            <label for="cad-type">
                (CAD) Type of CAD?
            </label>
            <div class="input-button-group">
                <div class="input-button-group-item">
                    <input type="radio" id="cad-type-symptomatic" name="cad_type" value="symptomatic">
                    <label for="cad-type-less">
                        Symptomatic single or multivessel
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="cad-type-asymp-multi" name="cad_type" value="asymp-multi">
                    <label for="cad-type-more">
                        Asymptomatic multivessel
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="cad-type-asymp-single" name="cad_type" value="asymp-single">
                    <label for="cad-type-more">
                        Asymptomatic single vessel
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="cad-type-unknown" name="cad_type" value="unknown">
                    <label for="cad-type-unknown">
                        Unknown
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="ha1c">
                What's the patient's last known Hemoglobin A1c (HA1c)?
            </label>
            <input type="number" id="ha1c" name="ha1c">
        </div>

        <div class="form-group">
            <label for="physical-inactivity">
                What's the patient's physical inactivity level?
            </label>
            <div class="input-button-group">
                <div class="input-button-group-item">
                    <input type="radio" id="physical-inactivity-mild" name="physical_inactivity" value="mild">
                    <label for="physical-inactivity-mild">
                        Mild
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="physical-inactivity-moderate" name="physical_inactivity" value="moderate">
                    <label for="physical-inactivity-moderate">
                        Moderate
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="physical-inactivity-severe" name="physical_inactivity" value="severe">
                    <label for="physical-inactivity-severe">
                        Severe
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="ldl-level">
                What's the patient's LDL level?
            </label>
            <div class="input-button-group">
                <div class="input-button-group-item">
                    <input type="radio" id="ldl-level-borderline" name="ldl_level" value="borderline">
                    <label for="ldl-level-borderline">
                        Borderline
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="ldl-level-high" name="ldl_level" value="high">
                    <label for="ldl-level-high">
                        High
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="ldl-level-very-high" name="ldl_level" value="very-high">
                    <label for="ldl-level-very-high">
                        Very high
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="ldl-level-unknown" name="ldl_level" value="unknown">
                    <label for="ldl-level-unknown">
                        Unknown
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="hdl-level">
                What's the patient's HDL level?
            </label>
            <div class="input-button-group">
                <div class="input-button-group-item">
                    <input type="radio" id="hdl-level-low" name="hdl_level" value="low">
                    <label for="hdl-level-low">
                        Low
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="hdl-level-unknown" name="hdl_level" value="unknown">
                    <label for="hdl-level-unknown">
                        Unknown
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="triglycerides-level">
                What's the patient's triglycerides level?
            </label>
            <div class="input-button-group">
                <div class="input-button-group-item">
                    <input type="radio" id="triglycerides-level-moderate" name="triglycerides_level" value="moderate">
                    <label for="triglycerides-level-moderate">
                        Moderate
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="triglycerides-level-high" name="triglycerides_level" value="high">
                    <label for="triglycerides-level-high">
                        High
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="triglycerides-level-unknown" name="triglycerides_level" value="unknown">
                    <label for="triglycerides-level-unknown">
                        Unknown
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="physical-inactivity">
                What's the patient's creatine level?
            </label>
            <div class="input-button-group">
                <div class="input-button-group-item">
                    <input type="radio" id="physical-inactivity-mild" name="physical_inactivity" value="mild">
                    <label for="physical-inactivity-mild">
                        Mild
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="physical-inactivity-moderate" name="physical_inactivity" value="moderate">
                    <label for="physical-inactivity-moderate">
                        Moderate
                    </label>
                </div>
                <div class="input-button-group-item">
                    <input type="radio" id="physical-inactivity-severe" name="physical_inactivity" value="severe">
                    <label for="physical-inactivity-severe">
                        Severe
                    </label>
                </div>
            </div>
        </div>

    </div>

    <div class="form-submit-footer">
        <h3>

        </h3>
        <button type="submit" id="monthly-visit-submit-btn" class="form-submit-btn">
            Save
        </button>
    </div>

</form>
{% endblock %}


{% block scripts %}
<script>

</script>
{% endblock %}
