<!-- Path: ./apps/PythonAnywhere/website/templates/healthie/iframe_patient_sidebar/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Sidebar</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='healthie/iframe_patient.css') }}">

    <!-- FontAwesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>
    <h1>Syntrillo Dashboard</h1>

    <h2>Coming soon...</h2>
</body>
</html>
