<!-- Path: ./apps/PythonAnywhere/website/templates/healthie/iframe_patient_sidebar/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Sidebar</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='healthie/iframe_patient.css') }}">

    <!-- FontAwesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <style>
        /* Spinner styles */
        .spinner {
            border: 4px solid rgba(0, 0, 0, 0.1);
            border-left-color: #4A90E2;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            to { transform: rotate(360deg); }
        }

        .pd-bp-footnotes {
            margin-top: 0.5rem;
            font-size: 0.875rem;
            color: #6b7280;
            padding: 1rem;
        }

        .pd-bp-footnotes li {
            margin-left: 0.5rem;
        }

        .pd-bp-footnotes span {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h1>Syntrillo Dashboard</h1>

    <section id="srs-section" class="pd-section">
        <div id="" class="pd-section-title-container">
            <h2 class="pd-section-title">
                Stroke Risk Factor Analysis
            </h2>
        </div>
        <div class="pd-section-content" id="stroke-risk-score-container">
            {% include 'healthie/iframe_patient_sidebar/components/srs_table.html' %}
        </div>
    </section>

    <section id="commentary-section" class="pd-section">
        <div id="" class="pd-section-title-container">
            <h2 class="pd-section-title">
                Physician Commentary
            </h2>
        </div>
        <div class="pd-section-content" id="commentary-container">
            {% include 'healthie/iframe_patient_sidebar/components/physician_commentary.html' %}
        </div>
    </section>

    <section id="bp-section" class="pd-section">
        <div id="" class="pd-section-title-container">
            <h2 class="pd-section-title">
                Blood Pressure Analysis
            </h2>
            <p id="bp-subtitle">
                The data below is calculated using your most recent two weeks of measurements.
            </p>
        </div>
        <div class="pd-section-content" id="blood-pressure-container">
            <!-- Blood pressure content will be dynamically inserted here -->
             {% include 'healthie/iframe_patient_sidebar/components/bp_summary.html' %}
             <ul class="pd-bp-footnotes">
                <li>
                    Blood pressure measurements are captured as two numbers, both measured in millimeters of mercury (mmHg).
                </li>
                <li>
                    <span>Systolic Blood Pressure (SBP)</span>, the top number, measures the pressure in your arteries when your heart beats and pumps blood.
                </li>
                <li>
                    <span>Diastolic Blood Pressure (DBP)</span>, the bottom number, measures the pressure in your arteries when your heart rests between beats.
                </li>
                <li>
                    <span>Peak SBP</span> and <span>Low SBP</span> represent the average of your three highest and lowest systolic blood pressure readings.
                </li>
                <li>
                    <span>Symptomatic Hypotensive Episodes</span> are blood pressure readings where your SBP is below 90 mmHg accompanied by symptoms like dizziness or fainting.
                </li>
             </ul>
        </div>
    </section>

    <section id="other-metrics-section" class="">
        <div id="" class="pd-section-title-container">
            <h2 class="pd-section-title">
                Biometrics
            </h2>
            <p id="" class="pd-section-subtitle">
                Additional health metrics listed below are sourced from your connected devices and/or manually logged.
            </p>
        </div>
        {% include 'healthie/iframe_patient_sidebar/components/metrics.html' %}
    </section>

    <script>
        var healthieUserId = "{{ healthie_user_id }}";
        var temporaryLookupCode = "{{ temporary_lookup_code }}";
        var patient_not_registered_at_syntrillo = "{{ patient_not_registered_at_syntrillo }}"

        function showSpinner(targetElement) {
            targetElement.innerHTML = "";

            // Check if a spinner already exists inside the target
            let existingSpinner = targetElement.querySelector(".spinner");
            if (!existingSpinner) {
                // Create a new spinner
                let spinner = document.createElement("div");
                spinner.classList.add("spinner");

                // Ensure the target element is a flex container to center the spinner
                targetElement.style.display = "flex";
                targetElement.style.justifyContent = "center";
                targetElement.style.alignItems = "center";

                targetElement.appendChild(spinner);
            }
        }

        function hideSpinner(targetElement) {
            // Find and remove the spinner inside the target element
            let spinner = targetElement.querySelector(".spinner");
            if (spinner) {
                spinner.remove();
            }

            // Reset the targetElement styles in case they were changed
            targetElement.style.display = "";
            targetElement.style.justifyContent = "";
            targetElement.style.alignItems = "";
        }
    </script>
</body>
</html>
