<!-- Path: ./apps/PythonAnywhere/website/templates/tests_ui/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tests UI</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='healthie.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Tests UI - Multiple tabs & files</h1>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="/tests_ui/tab1" role="tab"  aria-controls="status" aria-selected="true">Tab1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab2-tab" data-toggle="tab" href="/tests_ui/tab2" role="tab"  aria-controls="status" aria-selected="False">Tab2</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
