<!-- Path: ./apps/PythonAnywhere/website/templates/main_page.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Syntrillo Clinic</title>

    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
            padding: 20px;
            background-color: #f8f8f8;
        }

        h1 {
            color: #333;
        }

        p {
            color: #555;
            margin-bottom: 15px;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Syntrillo Clinic Landing Page for Testing Purpose</h1>

    <p>=> <a href="https://8tnnpleatb.execute-api.us-east-1.amazonaws.com/prod/" target="_blank">Flask Playground</a></p>

</body>
</html>
