overrides
pydantic
tenacity
httpx
numpy<2.0
onnxruntime
requests
tokenizers
starlette
fastapi
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-semantic-conventions
opentelemetry-util-http
sqlite3>=3.35.0