/* static/healthie/iframe_provider.css */

/* my friend : https://www.w3schools.com/css/tryit.asp */

body {
    font-family: "Avenir",Helvetica,"Arial",sans-serif; /* Avenir is Heathie's font */
    font-size: 16px;
    padding: 5px;
    color: #4f4f4f;
    overflow: scroll;
}


h1 {
    font-size: 24px;
    color: #16284a;
}

h2 {
    font-size: 20px;
    color: #16284a;
    margin-top: 20px;
}

h3 {
    font-size: 18px;
    color: #16284a;
    margin-left: 10px;
    margin-top: 20px;
}

p {
    font-style: normal;
    font-stretch: normal;
    font-size: 16px;
    line-height: 21px;
    color: #16284a;
    padding-left: 20px;
}

ol {
    margin-left: 20px;
    font-size: 0.8em;
}

ul {
    margin-left: 20px;
    font-size: 0.8em;
}

/* ------------ for text areas ---------------------------- */
.monospace-small {
    font-family: monospace;
    font-size: small;
}

.monospace-medium {
    font-family: monospace;
    font-size: medium;
}

.logs {
    font-size: 0.8em;
}

.response-message {
    font-size: 0.9em;
    color: #036824;
}

/* ------------- collapsable section ------------------- */

.collapsible {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.collapsible i {
    margin-right: 10px;
}
.collapsible .icon-container {
    width: 20px; /* Adjust the width as needed */
    display: inline-block;
    text-align: center;
    font-size: 0.8em;
}
.collapsible-content {
    display: none;
    margin-top: 10px;
}
.collapsible-content.show {
    display: block;
}
/* -------------------------------------------------------- */
.table-container1 {
    margin-left: 10px;
    width: 40%; /* Set a fixed width for the table container */
    border: 0px solid #ccc; /* Optional: Add a border for visual clarity */
    padding: 10px; /* Optional: Add padding inside the container */
    /* box-shadow: 0 0 5px rgba(0,0,0,0.1); */ /* Optional: Add a shadow for a subtle effect */
}
.table-container1 table {
    font-size: 16px;
}
.table-container1 td {
    padding: 10px;
}

/* ---------------- Table for buttons and logs ---------------------------------- */

.table-container-button {
    margin-left: 30px;
}

/* compact outer table */
.compact-table {
    border-spacing: 0;
    padding: 0px;
}
.compact-table td {
    padding: 1px;
}

/* ---------------- Table for 2 columns data ---------------------------------- */

/* compact outer table */
.compact-table-two-columns {
    border-spacing: 0;
    padding: 0px;
}
.compact-table-two-columns td {
    font-size: 0.8em;
}

.compact-table-two-columns-col1 {
    text-align: right;
    vertical-align: top;
}

.compact-table-two-columns-col2 {
    text-align: left;
    padding-left: 5px;
}

/* -------------------------------------------------------- */
/* file list */

.compact-file-list {
    font-size: 0.8em;
    padding-left: 10px;
}

/* -------------------------------------------------------- */
/* Add styles for the new table container class that handles complex tables */

.table-container-data {
    margin-left: 20px;
}
.table-container-data table {
    font-size: 12px; /* Smaller font size for the table */
    font-family: "Courier New", Courier, monospace; /* Monospace font */
    border-collapse: collapse; /* Collapse table borders */
    /* width: 100%; */
}
.table-container-data th,
.table-container-data td {
    padding: 8px; /* Smaller padding for table cells */
    border: 1px solid lightgrey; /* Light grey cell border */
    text-align: left; /* Left-align table cells */
}

/* Optional: Style table headers differently */
.table-container-data th {
    background-color: #f2f2f2; /* Light grey background for table headers */
    font-weight: bold; /* Bold font for table headers */
}

/* -------------------------------------------------------- */
.table-container-system {
    margin-left: 10px;
    width: fit-content; /* Set the width to fit the content */
}
.table-container-system table {
    font-size: 16px;
    width: auto; /* Set the table width to auto */
    table-layout: fixed; /* Prevent the table from adjusting its width based on content */
}
.table-container-system td {
    padding: 10px;
    vertical-align: top;
    white-space: nowrap; /* Prevent line wrapping in table cells */
}

/* ------------ buttons ---------------------------- */

.styled-button-system {
    white-space: nowrap; /* Prevents the text from wrapping */
    display: inline-block; /* Ensures the button size adjusts correctly */
    border-radius: 10px;
    background-color: #4a90e2;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
    font-family: "Avenir", Helvetica, "Arial", sans-serif; /* Avenir is Heathie's font */
    font-size: 16px;
    line-height: 18px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: .8px;
    text-align: center;
    color: #fff;
    padding: 12px 30px; /* vertical padding, horizontal padding */
    margin: 12px 12px 12px 12px; /* top, right, bottom, left */
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: none; /* Optional: Remove border */
    outline: none; /* Optional: Remove focus outline */
}

.styled-button {
    white-space: nowrap; /* Prevents the text from wrapping */
    display: inline-block; /* Ensures the button size adjusts correctly */
    border-radius: 10px;
    background-color: #4a90e2;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
    font-family: "Avenir", Helvetica, "Arial", sans-serif; /* Avenir is Heathie's font */
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    /* letter-spacing: .8px; */
    text-align: center;
    color: #fff;
    padding: 8px 20px; /* vertical padding, horizontal padding */
    margin: 6px 6px 6px 6px; /* top, right, bottom, left */
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: none; /* Optional: Remove border */
    outline: none; /* Optional: Remove focus outline */
}

.primary-button {
    background-color: #4a90e2;
    color: #fff;
    border-color: #4a90e2;
}

.styled-label {
    display: inline-block;
    margin-top: 10px;
    font-size: 0.8em;
}

.styled-file {
    display: inline-block;
    font-size: 0.8em;
}

.styled-legend {
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}

.styled-input-checkbox {
    display: inline-block;
    margin-left: 30px;
}

.styled-input-text {
    font-size: 0.8em;
    margin-left: 10px;
}

.styled-select {
    font-size: 0.8em;
    margin-left: 10px;
}

/* loading cursor when waiting for a response */
body.loading {
    cursor: wait;
}

/* =============== TOOL TIPS ================== */

/* Custom tooltip styling */
.ui-tooltip {
    background: #333;
    color: #fff;
    border: 1px solid #555;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Arrow customization */
.ui-tooltip::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #333;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}





