<style>
    .srf-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .srf-blurb {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .srf-blurb p {
        color: #16284a;
        font-size: 16px !important;
    }

    .srs-table th,
    .srs-table td,
    .srf-table td,
    .srf-table th {
        padding: 0.5rem;
    }

    .srf-table td:first-child,
    .srf-table th:first-child {
        width: 30%;
    }
</style>

<div id="" class="srf-container">
    <div id="" class="srf-blurb">
        <!-- <p>
            Based on current risk models for cardiovascular disease such as the American Heart Association PREVENT score and the data you have provided, we estimate your 10-year risk of stroke to be 2.99%. This means that over the next 10 years, your chances of having a stroke is about 3%.
        </p> -->
        <p>
            Our clinicians have reviewed your health information feel that you are at an overall low risk of stroke. Given available data, they estimate your one-year risk of stroke and heart attack is most likely around 1% although it may be as high as 2% per year depending on the interaction of your unique risk factors.
        </p>
        <p>
            The following risk factors or conditions are contributing the most to your current risk of stroke. Addressing these risk factors can help lower your overall risk of stroke.
        </p>
    </div>
    <!-- <div style="display: flex; justify-content: center; align-items: center;">
        <h2>Stroke Risk Score: <strong>2.26</strong></h2>
    </div> -->
    <table id="" class="srf-table">
        <thead>
            <tr>
                <th style="text-align: center; background-color: #3b82f6; color: white; font-weight: bold;" colspan="2">
                    Stroke Risk Score: <strong>2.26</strong>
                </th>
            </tr>
            <tr style="background-color: #e5e7eb; font-weight: bold; border-radius: 0.375rem;">
                <th>Risk Factor</th>
                <th>Comments from your doctor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Hypertension</td>
                <td>Our clinicians estimate that the risk factor most contributing to your risk of stroke and heart disease is your average systolic blood pressure which was 133. According to this estimate, your risk of stroke is increased by 35% compared to an optimal value (average systolic blood pressure < 125). Your average systolic blood pressure also increases your risk of dementia and kidney disease.</td>
            </tr>
            <tr>
                <td>Hyperlipidemia (LDL and Triglycerides)</td>
                <td>Our clinicians estimate the second most important risk factor contributing to your risk of stroke and heart disease is your hyperlipidemia. According to this estimate, your risk of stroke is increased by 25% compared to the optimal levels. A LDL level > 100 is considered elevated although the goal LDL level in patients with known atherosclerosis is less than 70. A triglyceride level greater than 150 is considered elevated.</td>
            </tr>
            <!-- <tr>
                <td>Coronary artery disease</td>
                <td></td>
            </tr> -->
        </tbody>
    </table>
</div>

<script>

    // function getRiskScoreData() {
    //     let formData = new FormData()
    //     formData.append('healthie_provider_id', "{{ healthie_provider_id }}")
    //     formData.append('healthie_user_id', "{{ healthie_user_id }}")
    //     formData.append('temporary_lookup_code', "{{ temporary_lookup_code }}")
    //     formData.append('patient_not_registered_at_syntrillo', "{{ patient_not_registered_at_syntrillo }}")

    //     fetch("{{ url_for('iframe_healthie_patient_sidebar_data_bp.healthie_iframe_patient_sidebar_stroke_risk_factors') }}", {
    //         method: 'POST',
    //         headers: {
    //             'Content-Type': 'application/json'
    //         },
    //         body: formData
    //     })
    //     .then(response => response.json())
    //     .then(data => {
    //         // Process and display the risk score data
    //         console.log(data);
    //     })
    //     .catch(error => {
    //         console.error('Error fetching risk score data:', error);
    //     });
    // }

    // document.addEventListener('DOMContentLoaded', function() {
    //     getRiskScoreData();
    // });

</script>
