

<h2>Organization Information</h2>

<div class="table-container1">
    <table class="table">
        <tbody>
            <tr>
                <td>Organization Name</td>
                <td>{{ organization_details.organization.name }}</td>
            </tr>
            <tr>
                <td>Organization ID</td>
                <td>{{ organization_details.organization.id }}</td>
            </tr>
        </tbody>
    </table>
</div>


<h2>Cohort and study information</h2>

<div class="table-container1">
    <table class="table">
        <tbody>
            <tr>
                <td>Number of Users</td>
                <td>{{ organization_details.organization.num_users }}</td>
            </tr>
        </tbody>
    </table>
</div>
